/*************************公共样式***********************************/
/*通用属性*/

body{font-family: "微软雅黑";min-width: 320px;}
ul,ol{list-style:none}
.fr {float: right;}
.fl{float: left;}
em{font-style: normal;}
img{width: 100%; border: none;}
i{font-style: normal;}
.DNone{display: none;}
.marginCenter{margin: 0 auto;}
.fontBol{font-weight: bold;}
.font12{font-size: 12px !important;}
.font14{font-size: 14px !important;}
.font16{font-size: 16px !important;}
.font18{font-size: 18px !important;}
.font20{font-size: 20px !important;}
.font24{font-size: 24px !important;}
.font40{font-size: 40px !important;}
.font100{font-size: 100px !important;}
a{color: #333;}
/*宽度*/
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w100{width: 100% !important;}

/*有底部的页面固定样式*/
.FootBoot{ margin-bottom:50px !important;}
/*绝对定位*/
.posRe{position: relative}
.posAbs{position: absolute}

/*圆形背景*/
.circularBG{width: 50px;height: 50px;border-radius: 100%;}

/*背景颜色*/
.redBG{background-color: #F86161!important;}
.buleBG{background-color: #3CB2EF!important;}
.greenBG{background-color: #02BB00!important;}
.orgBG{background-color: #F99D23!important;}
.withBG{background-color: #fff!important;}
.bg_lgray { background-color: #FAFAFA!important;}

/*背景颜色(按钮)*/
.redButBG{background-color: #FF3E3E !important;color: #FFFFFF;}
.buleButBG{background-color: #19B5FD !important;color: #FFFFFF ;border: 1px solid #19b5fd;}
.greenButBG{background-color: #09BB07;color: #FFFFFF;border: 1px solid #09BB07;}
.greenButBG02{background-color: #02BB00;color: #FFFFFF;}
.grayButBG{background-color: #666666;color: #999;}
.orgButBG{background-color: #FF8800;color: #FFFFFF;}
.grayButNotBG{background-color: #F8F8F8;color: #999;}

/*字体颜色*/
.redFont{color: #F86161!important;}
.redWarnFont{color: #FF3E3E!important;}
.buleFont{color: #19B5FD !important;;}
.greenFont{color: #02BB00!important;}
.orgFont{color: #F99B00!important;}
.yewfont{color: #FFFF00!important;}
.withFont{color: #fff !important;}
.violetFont{color: #df8bdd!important;}/*紫色*/
.greeImgFont{color: #4adb49!important;}/*绿色图片文字*/
.graufont3{color: #333!important;}
.graufont6{color: #666!important;}
.graufont9{color: #999!important;}


/*边框颜色*/
.redBorder{border: 1px solid #F86161;border-radius: 100px;}
.buleBorder{border: 2px solid #19B5FD;border-radius: 100px;}
.buleBorderOne{border: 1px solid #19B5FD;border-radius: 100px;}
.greenBorder{border: 2px solid #44BB39;border-radius: 100px;}
.grayBorder{border: 1px solid #E5E5E5;}
.borderNone{border: none;}
.borderRight{border-right: 1px solid #ddd;}
.borderLeft{border-left: 1px solid #ddd;}

/*内边距*/
.padd3{padding: 3px;}


/*正方形*/
.Square20{width: 20px;height: 20px;}
.Square30{width: 30px;height: 30px;}
.Square40{width: 40px;height: 40px;}
.Square50{width: 50px;height: 50px;}
.Square80{width: 80px;height: 80px;}
.Square100{width: 100px;height: 100px;}

/*矩形*/
.Rectangle50{height: 50px; width:160px; line-height: 50px; text-align: center;}
.Rectangle30{height: 30px; width:80px; line-height: 30px; text-align: center;}
.Rectangle25{height: 25px; width:80px; line-height: 25px; text-align: center;}
.Rectangle{height: 30px; padding: 0 10px;}

/*圆角*/
.borderRadius10{border-radius: 10px;}
.borderRadius100{border-radius: 100px;}
.borderRad100{border-radius: 100%;}

/*按钮*/
/*不能使用*/
.dontBut{background-color: #F8F8F8; color: #999999;border: 1px solid #dedede;}
/*可以使用的按钮*/
.DoBut{width: 92%;border-radius: 10px;margin: 0 auto; background-color: #19B5FD;border: 1px solid #19B5FD; color: #fff;height: 44px;padding: 0;}
.zhipaiBut{width: 92%;border-radius: 100px;margin: 0 auto; background-color: #F86161;border: 1px solid #09BB07; color: #fff;height: 44px;padding: 0;}


/*placeholder样式*/
input::-webkit-input-placeholder {color:#ccc;}
input:-moz-placeholder {color:#ccc;}
input::-moz-placeholder {color:#ccc;}
input:-ms-input-placeholder {color:#ccc;}

/*placeholder样式*/
textarea::-webkit-input-placeholder {color:#ccc;}
textarea:-moz-placeholder {color:#ccc;}
textarea::-moz-placeholder {color:#ccc;}
textarea:-ms-input-placeholder {color:#ccc;}

/*面板*/
.Content{min-width: 320px;max-width: 640px;margin: 0 auto;}

/*下边框*/
.borderbott{border-bottom: 1px solid #ddd;}

/*头部修改属性*/
header.mui-bar{z-index: 999;}
.headerBG{background-color: #19B5FD;}
.headerOther{background-color: #0a86b2;}
.headerA{color:#fff;}
.UserOhter{height: 10.6rem;overflow: hidden;background-color: #0a86b2; width: 100%;position: relative;margin-top: -1px;}
header .addWi{color: #ffffff !important; border: none;}
header .EditWi{color: #ffffff !important; border: none; background: none;}
.iconBg{border: 1px solid #fff;    border-radius: 100%;}
/*有头部的页面固定样式*/
.HeaTop{ margin-top: 44px;}
/*底部样式修改*/
.FooterBG{background-color: #19b5fd; color: #ffffff;}
.FooterBG a.mui-tab-item.mui-active{background-color: #44b7ec; color: #fff;}
.FooterBG a.mui-tab-item{color: #fff;}


/*底部按钮样式*/
.footerBut {bottom: 0;display: table; width: 100%;height: 50px; padding: 0;  table-layout: fixed; border-top: 0; border-bottom: 0;position: fixed;z-index: 10;right: 0; left: 0;}
.footerBut  .footerbCont{display: table-cell; overflow: hidden;   width: 1%;height: 50px;  text-align: center;  vertical-align: middle;  white-space: nowrap; text-overflow: ellipsis; color: #929292;background-color: #fff;}


/*底部导航*/
#MailS .mui-iframe-wrapper{bottom: 0 !important;}
footer {position: fixed;width: 100%;z-index: 2; bottom: -50px;}
.fadeInUp {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
.animated {-webkit-animation-duration: 1s;animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.delay3 {animation-delay: 300ms;-webkit-animation-delay: 300ms;}
.tab {position: relative;display: table-cell;width: 1%;text-align: center;box-sizing: border-box;}
.menubar{margin: 0;padding: 3px 0 0 0;position: fixed;bottom: 0; left: 0; background-color: #FFFFFF; color: #19B5FD; font-size: 14px;}
.menubar .tab {border-width: 1px 0 0 0; border-color: inherit;}
.menubar i{display: inline-block; vertical-align: middle;width: 100%;font-size: 20px;}


/*个人信息*/
.TextStyle{margin-top: 15px; background-color: #fff;width: 100%;}
.TextStyleTit{border-bottom: 1px solid #ddd; width: 100%;padding: 11px 15px; color: #333333;font-size: 16px;margin-bottom: 0;font-weight: bold;}
.TextStyleBM{border-bottom: 1px solid #ddd; width: 100%;padding: 11px 15px; color: #333;font-size: 16px;margin-bottom: 0;}
.TextStyleBM span{font-size: 14px;padding-left: 10px;color: #999}
.TextStyle .TextCont{padding: 11px 15px; color: #999999;font-size: 16px; line-height: 25px;}
.TextStyleTit span{float: right; color: #19B5FD;font-size: 16px;}
.doctorTop{background:#fff; padding:20px 15px;}
.doctorTop p, .doctorTop dl, .doctorTop dd, .doctorTop dt,.doctorTop button{ margin: 0; padding: 0; list-style: none;outline: none;color: #333;}
.doctorTop dl{position:relative;}
.doctorTop dl dd{width:80%; position:relative; height:60px; padding-left:70px;}
.doctorTop dl dd img{width:60px; position:absolute; left:0;}
.doctorTop dl dd p{font-size:16px; line-height:30px;height: 30px; overflow: hidden;}
.doctorTop dl dd p span{font-size:14px; color:#666;padding-left: 10px; color: #19B5FD }
.doctorTop dl dt{width:20%; position:absolute; right:0; top:0;}
.doctorTop dl dt button{width:100%; height:30px; margin-bottom:5px;}
.doctorTop dl dt .gz{border:1px solid #1AAD19; color:#1AAD19;}
.doctorTop dl dt .gz span{margin-top:-5px; position:relative; top:1px;}
.indexFunc{background-color: #fff; width: 100%; float:left;font-size: 14px;}
.indexFunc a{color: #666;}
.indexFunc ul{padding: 15px 0;margin: 0;}
.indexFunc ul li{width: 25%;float: left;text-align: center;}
.indexFunc span{padding: 5px 0; display: block;}
.indexFuncIcon {line-height: 50px;font-size: 35px !important;}

.TextStyle .textTable{font-size: 14px;}
.TextStyle .textTable ul{margin: 0;padding: 0; background: #fff;}
.TextStyle .textTable ul li{color: #333333;border-bottom: 1px solid #DDDDDD;padding: 0 15px;text-align: center}
.TextStyle .textTable ul li b{font-weight: normal; width: 26%; overflow: hidden; height: 44px; line-height: 44px; display: block; float: left;}
.TextStyle .textTable ul li span{ color: #999999; border-left: 1px solid #ddd;  width: 34%; overflow: hidden;  padding-left: 5px; margin-left: 5px; height: 44px; line-height: 44px; display: inline-flex;}
.HTTit li b,.HTTit li span{font-weight: bold !important;color: #333!important;text-align: center}

.TextStyle .textTableXX ul{margin: 0;padding: 0; background: #fff;}
.TextStyle .textTableXX ul li{color: #333333;border-bottom: 1px solid #DDDDDD;padding: 11px 15px;text-align: left;font-size: 14px}

/*时间轴*/
.thisDA{padding-left: 25px; background:url(../images/thisDA.png) 10px 0 no-repeat;}
.mui-table-view-cell:after{left: 26px;}
/*footer{top: 50px; bottom: auto;}
footer .mui-bar{top: 45px;}
.mui-content{padding-top: 90px !important;}*/
.doct-date .doct-date-swiper-container{margin-left: 5px;}
.doct-date .swiper-slide{width: 65px;}
.timescr{display: none; position: fixed;z-index: 1;padding: 5px 0;background-color: #fff;}
#jibin .doct-date{padding-top: 10px;}
.doct-date .swiper-slide{width: auto;}
.padd010{padding: 0 10px}

/*交接单进度*/
.traPor{font-size: 12px; right: 10px; top:0;}
.traPor button{float: left;  width: 100%;  margin: 40px 27px 2px 0!important;}
.traBut{font-size: 12px; padding: 6px 3px;}

/*项目管理*/
.proMametJD{ right: 35px; width: 20%;top: 10px; border: 1px solid #ddd;   height: 25px;font-size: 12px;}
.proSchedule{background-color: #19b5fd; height: 23px; padding-left: 1px; }


/*项目管理详情*/
.swiper-container { margin: 0 auto; position: relative;overflow: hidden; z-index: 1;}
.rsquare{overflow-x: scroll;}
.scheduling{ position: absolute;  left: -32px;top: -14px; font-size: 14px;color: #999; background: #fafafa; width: 74px;z-index: 99; border-right: 1px solid #efefef;}
.scheduling ul li{ font-size: 14px; border-bottom: 1px solid #e9e9e9; width: 33px;  float: left; height: 43px; line-height: 42px;}
.weektit{ -webkit-padding-start:0;border-top-left-radius: 8px; border-top-right-radius: 8px; color: #333;  margin: 0;  position: relative; width: 150%;  height: 100%; z-index: 1;  display: -webkit-box;  display: -moz-box; display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d;  transform-style: preserve-3d;  -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform;  -o-transition-property: -o-transform; -ms-transition-property: -ms-transform;   transition-property: transform; -webkit-box-sizing: content-box;  -moz-box-sizing: content-box; box-sizing: content-box;}
.weektit li,.weektit span{ position:relative;float:left;width:20%; border-bottom: 1px solid #efefef; padding:5px; height: 55px;  text-align: center; font-size: 12px; display: inline-table;}
.weektit li em{font-size: 10px;}
.weektit li::before{content: ''; position: absolute;left: 0;top:0; height:100%; width: 1px; background: #e8e8e8}

.schedclose{right:10px; top:10px;}
.noti {text-indent: 0;text-align: center;margin-top: 10px;}
.soundactive{animation:soundac 1s infinite;-webkit-animation:soundac 1s infinite;}

/*产值*/
.outPut span{display: block; float: left;padding-right: 5px;overflow: hidden; text-overflow: ellipsis;font-size: 14px}
.outPutPor{font-size: 12px; right: 20px; top:-43px;}
.outPutPor button{float: left;  width: 100%;  margin: 6px 0 2px 0!important;}
.outPutBut{font-size: 12px; padding: 6px 10px;}
.outPutList .mui-checkbox.mui-left input.active{z-index: 999; width: 100%;padding-top: 30px; height: 100%;display: block !important;}
.outPutList .mui-table-view-cell.mui-checkbox.mui-left, .InfoList .mui-table-view-cell.mui-radio.mui-left{padding-left: 45px;}
.outPutList .mui-checkbox.mui-left input[type=checkbox], .InfoList .mui-radio.mui-left input[type=radio]{left: -35px;}
.outPutList .mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{right: auto;left: 1px;top: 8px}
.outPutList .mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size: 26px}
.barBot{line-height: 50px;background: #19b5fd;color: #fff;text-align: right;padding-right: 20px}



/*消息中心*/
.reposfont{position: relative}
.Mobl-icon{font-size: 35px !important; padding-right: 10px; margin-top: 5px;}
.abso{top:-10px !important; left: 75% !important;}
.rightTime{float: right;font-size: 14px; color: #999999;}
/*待办列表*/
.treatedFont{color:#666;}
/*待办详情信息*/
.dealDet{margin-bottom: 44px}
.reject{line-height: 44px;}
.approveBtn{position: fixed;width: 100%;height:40px;bottom: 0;left:0; background-color:#19B5FD;color: #fff;font-size: 16px; }
.applicationInfo{background-color: #FFFFFF;}
.applicationInfo label{width: 35%;}
.applicationList{border-top: 1px solid #e4e4e4;}
.application{clear: left;overflow: hidden;position: relative;color: #666;}
.application label{line-height: 30px;font-size: 14px;color: #999; padding: 5px 15px;}
.application0per{margin-top: 15px; background-color: #fff;width: 100%;}
.textTit{background-color: #FFFFFF;padding:11px 5px;font-size: 16px;color: #333;margin:0;}
.applicationInfoText{text-align: left; padding: 5px 15px 5px 0;font-size: 14px;width: 65%;}
.application0per label{width: 35%;font-size: 16px;color: #666;}
.operationList input{font-size: 16px; width: 65%;color: #666;padding: 11px 15px;}
.operationList li{padding: 0;}
.operationList p{padding: 5px 15px;font-size: 16px;}
.backApp{display: none; position: fixed;height: 100%;z-index:999;width:100%;padding: 0;margin: 0;top:0;left: 0;bottom:0;overflow: scroll;margin-top: 44px;background-color: #fff;}
.backAppInfo li{padding: 0;}
.backAppInfo label{width: 35%;font-size: 16px;color: #666;}
.backAppInfo input{width: 65%;font-size: 16px;color: #666;padding: 11px 15px;}
.backAppBtn{width: 100%;height: 40px;background-color: #19B5FD;color: #fff;font-size: 16px;}
textarea{color: #666;}
/*已办详情*/
.operaText{color: #666666;text-align: left;padding: 11px 15px 11px 0;width: 65%;font-size: 16px;line-height: 1.1;}
/*阅读列表*/
.Edit{color: #ffffff !important;border: none;background: none;line-height: 44px;}
.iabso{top:-8px; left: 45%;background-color: red;padding: 6px;border-radius: 100%;margin: 2px;position: absolute;}
.readInfoList .inLiTit{color: #666666;font-size: 16px; width: 90%; height: 25px; line-height: 25px; overflow: hidden;position: relative;}
.readInfoList .inLiCont{color: #999;font-size: 14px; width: 90%; height: 20px; line-height: 20px; overflow: hidden;}
.readInfoList .inLiTime{color: #999;font-size: 12px; width: 90%; height: 20px; line-height: 20px;}
.readInfoList .weidu i{background-color:#F44336;padding:6px; border-radius: 100%;margin: 2px;position: absolute;top: 4px;left: 2px;}
.readInfoList .weidu h5{font-weight: bold; padding-left: 20px;}
.readInfoList  input.BianjiCheck{display: none;}
.readInfoList .mui-checkbox.mui-left input.active{z-index: 999; width: 100%;padding-top: 30px; height: 100%;display: block !important;}
.readInfoList .mui-table-view-cell.mui-checkbox.mui-left, .InfoList .mui-table-view-cell.mui-radio.mui-left{padding-left: 45px;}
.readInfoList .mui-checkbox.mui-left input[type=checkbox], .InfoList .mui-radio.mui-left input[type=radio]{left: -35px;}
.readInfoList .mui-table-view-cell.mui-checkbox input[type=checkbox], .InfoList .mui-table-view-cell.mui-radio input[type=radio]{top: -10px}
.DNone { display: none;}
footer{position: fixed;width: 100%;bottom: -44px;}
.signList{margin: 0;padding: 3px 0 0 0;position: fixed;bottom: 0;left: 0;background-color: #19b5fd;color: #FFFFFF;font-size: 14px;width: 100%;}
.signtab{float: left;height: 44px;line-height: 44px;width: 50%;text-align: center;}
.signList li:first-child{border-right: 1px solid #fff;}
/*阅读详情*/
.readInfo{background-color: #FFFFFF;margin-top: 15px;}
.readInfo label{width: 35%;}
.readList{border-top: 1px solid #e4e4e4;}
.read{clear: left;overflow: hidden;position: relative;color: #666;}
.read label{line-height: 30px;font-size: 14px;color: #999; padding: 5px 15px;}
.readInfoText{text-align: left; padding: 5px 15px 5px 0;font-size: 14px;width: 65%;}
.readText{background-color: #fff;margin-top: 15px;}
.readTextTit{padding: 4px 15px;border-bottom: 1px solid #ddd;background-color: #FFFFFF;}
.readTextTit h4{color: #666666;font-size: 18px; line-height: 20px;font-weight: normal;}
.readTextTit span{color: #999; font-size: 14px;line-height: 20px;}
.readSendTime{margin-right: 20px;float: right;}
.readTextCont{padding: 11px 18px;width: 100%;line-height: 20px;color: #999999; font-size: 14px;}
.readTextCont p{text-indent: 2em;line-height: 25px;color: #999999;font-size: 14px;}

/*交接单详情*/
.delivertRecTit{background-color: #fff; padding: 11px 15px;}
.delivertRecTit h4{color: #333;    font-size: 16px;}
.delivertRecTit p{margin: 0;}

.proSea .mui-search{ position: relative; margin-top: 5px; margin-bottom: -10px;}
.proSea .mui-search input{background-color: rgb(255, 255, 255); border: 1px solid #dedcdc;border-radius:100px;}
