<div class="fl RuleTit">
    <i>|</i>
    考勤明细
    <div class="fr">
        <input type="button" class="CloseBut fl" ng-click="ctrl.closePanel()"/>
    </div>
</div>
<div class="RuleCont">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light JG">
                <thead class="bgJ">
                <tr>
                    <th>考勤时间</th>
                    <th>考勤日期</th>
                    <th>星期</th>
                    <th>签到地址</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="acctenceLog in ctrl.acctenceLogList" >
                    <td ng-bind="acctenceLog.attenceTime | date:'HH:mm:ss'"></td>
                    <td ng-bind="acctenceLog.attenceDate"></td>
                    <td ng-bind="acctenceLog.attenceWeek"></td>
                    <td ng-bind="acctenceLog.address"></td>
                    <td ng-bind="acctenceLog.remark"></td>
                </tr>

                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="text-center text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo" ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>

    </div>
</div>


