<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>交接单</title>
    <script src="./js/mui.min.js"></script>
    <link href="./css/mui.min.css" rel="stylesheet"/>
    <link href="./css/mobileCss.css" rel="stylesheet" />
    <link href="./css/iconfont.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<!--header-->
<header class="mui-bar mui-bar-nav headerBG">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left headerA" href="#/user"></a>
    <h1 class="mui-title headerA">填写交接单</h1>
</header>
<!--header end-->
<!--底部导航-->
<nav class="mui-bar mui-bar-tab BG-with">
    <a class="mui-tab-item mui-active" href="#/user">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a ng-show="$ctrl.handoverM" class="mui-tab-item" href="#/transfer">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">交接进度</span>
    </a>
    <a ng-show="$ctrl.transactM" class="mui-tab-item" href="#/transact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">待办事项</span>
    </a>
    <a ng-show="$ctrl.projectMentM" class="mui-tab-item" href="#/projectMent">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">项目管理</span>
    </a>
</nav>

<div class="mui-content proSea">
    <div class="mui-input-row mui-search">
        <input type="search" class="mui-input-clear" placeholder="请输入搜索内容" ng-model="query">
    </div>
    <ul class="mui-table-view mui-table-view-chevron" style="margin-top: 0;">
        <li class="mui-table-view-cell mui-media posRe" ng-repeat="handOver in $ctrl.handOverList | filter:query">
            <div class="mui-media-body">
                <p class="font14 mui-ellipsis-2 graufont3" ng-bind="handOver.customerName"></p>
                <h5 class="graufont6  mui-ellipsis" ng-bind="handOver.htName"></h5>
                <h5 class="greenFont"><span class="graufont9 font12" ng-bind="handOver.htNo"></span>{{handOver.nowStep}}</h5>
                <p class="graufont9 font12" ng-bind="handOver.created | date:'yyyy-MM-dd'"></p>
            </div>
            <!--按钮-->
            <div class="posAbs traPor">
                <a href="#/traChedule?processId={{handOver.processId}}"><button type="button" class="mui-btn traBut buleButBG" style="margin: 15px auto;">详情</button></a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>