<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>项目详情</title>
    <link href="./css/mui.min.css" rel="stylesheet"/>
    <link href="./css/mobileCss.css" rel="stylesheet" />
    <link href="./css/iconfont.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
    <style>
    .traPor {
        right: 68px;
    }
    .traPor button {
        margin: 9px 27px 2px 0!important;
    }
</style>
</head>
<body>
<!--header-->
<header class="mui-bar mui-bar-nav headerBG">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left headerA" href="#/cusProjectMent"></a>
    <h1 class="mui-title headerA" ng-bind="$ctrl.projectPlan.proName"></h1>
</header>
<!--header end-->
<!--底部导航-->
<nav class="mui-bar mui-bar-tab BG-with">
    <a class="mui-tab-item mui-active" href="#/user">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a ng-show="$ctrl.handoverM" class="mui-tab-item" href="#/transfer">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">交接进度</span>
    </a>
    <a ng-show="$ctrl.transactM" class="mui-tab-item" href="#/transact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">待办事项</span>
    </a>
    <a ng-show="$ctrl.projectMentM" class="mui-tab-item" href="#/projectMent">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">项目管理</span>
    </a>
</nav>

<div class="mui-content">
    <div class="mui-table-view-cell mui-media withBG">
        <div class="mui-media-body">
            <h5 class="graufont6  mui-ellipsis font18" ng-bind="$ctrl.handover.customerName"></h5>
            <h5 class="graufont6  mui-ellipsis font18" ng-bind="$ctrl.handover.htName"></h5>
            <p class="font16 mui-ellipsis-2 graufont3">{{$ctrl.handover.htNo}} <span class="font14"> 项目经理：{{$ctrl.handover.proManager}}</span></p>
            <h5 class="greenFont"> <span ng-if="$ctrl.planDetail.planCycle">计划周期：{{$ctrl.planDetail.planCycle}}周</span> 实施经理：{{$ctrl.projectPlan.actualizeManager}}</h5>
        </div>
    </div>
    <div class="mui-table-view" style="margin-top: 15px">
        <div class="mui-table-view-cell" style="padding: 0;">
            <div class="swiper-container schswiper withBG swiper-container-horizontal">
                <div class="swiper-wrapper" id="paiban" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-active outPutList" style="position: relative;">

                        <ul class="mui-table-view" style="margin-top: 0">
                            <li ng-class="{'mui-table-view-cell mui-collapse':!$ctrl.objTypeDetail[{{$index}}],'mui-table-view-cell mui-collapse mui-active':$ctrl.objTypeDetail[{{$index}}]}"  ng-repeat="planStage in $ctrl.planDetail.tbPlanStages">
                                <a class="mui-navigate-right posRe" ng-click="$ctrl.chickClassMui($index)">
                                    <span class="w60 fl" ng-bind="planStage.stageName"></span>
                                    <span class="fl font12 graufont9">{{planStage.planStartTime}}至{{planStage.planEndTime}}</span>
                                </a>
                                <ul class="mui-table-view mui-table-view-chevron">
                                    <li class="mui-table-view-cell posRe" ng-repeat="planItem in planStage.tbPlanItems">
                                        <div class="mui-media-body">
                                            <p class="font14 mui-ellipsis-2 graufont3" ng-bind="planItem.docName"></p>
                                            <p class="font12 graufont9" ng-bind="planItem.planTime"></p>

                                            <p class="graufont9 font12">
                                                <span ng-show="!planItem.fileName" style="color: #1a9c39;font-size: 12px">文档未提交</span>
                                                <span ng-show="planItem.fileName">文档提交：{{planItem.submitTime | date:'yyyy-MM-dd'}}</span>
                                                <span class="buleFont" style="padding-left: 5px" ng-bind="planItem.submitter"></span>
                                            </p>
                                        </div>
                                        <div class="posAbs traPor">
                                            <div class="buleFont font18" ng-show="!planItem.fileName">
                                                <button type="button" disabled="disabled" class="mui-btn traBut buleButBG fr">查看文档</button>
                                            </div>
                                            <div class="buleFont font18" ng-show="planItem.fileName">
                                                <a class="graufont9 font12"  href="/vendor/pdf/web/viewer.html?file=%2fts-project%2fdownload%2fmobileView%3ffileName%3d{{planItem.fileName}}" target="_blank"><button type="button" class="mui-btn traBut buleButBG fr">查看文档</button>
                                                </a>
                                            </div>
                                            <div class="buleFont font18" ng-show="planItem.fileName">
                                                <button type="button" ng-show="$ctrl.showButton(planItem.planChecks,'|tag_check_KF|','|check|')" class="mui-btn traBut orgButBG fr" ng-click="$ctrl.checkOk(planItem,'|tag_check_KF|')" style="padding: 4px 15px">确认</button>
                                            </div>
                                            <div class="buleFont font18">
                                                <button type="button" ng-show="!$ctrl.showButton(planItem.planChecks,'|tag_check_KF|','|check|')" class="buleButBGmui-btn traBut greenButBG fr">已确认</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>