<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">合同项目交接</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div class="fr">
                <div class="col-px-230 fl" style="position: relative;">
                    <input type="text" class="form-control" placeholder="请输入合同号、客户名、合同名" ng-model="ctrl.selectName">
                </div>
                <div class="col-px-140 fl" style="position: relative;">
                    <button type="button" class="btn btn-default" ng-click="ctrl.selectContract()">查询</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>合同号</th>
                    <th>客户名称</th>
                    <th>合同名称</th>
                    <th>合同所有者</th>
                    <th>签约时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="htProduct in ctrl.htProductList" ng-click="ctrl.handoverView(htProduct)"
                    ng-dblclick="ctrl.openPanel()">
                    <td ng-bind="htProduct.contractNo"></td>
                    <td ng-bind="htProduct.customerName"></td>
                    <td ng-bind="htProduct.contractName"></td>
                    <td ng-bind="htProduct.contractOwner"></td>
                    <td ng-bind="htProduct.signDate | date:'yyyy-MM-dd'"></td>
                    <td>
                        <a ng-click="ctrl.handoverView(htProduct);ctrl.openPanel()">修改
                        </a>
                        <button type="button"
                                class="btn btn-default" ng-click="ctrl.outputValue(htProduct)">分解产值
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
</div>
</div>
<div data-ng-include=" 'src/pc/template/template.tpl.html' " ng-class="ctrl.panelClass"></div>
    </div>
    <script type="text/ng-template" id="outputValue.html">
        <div class="modal-header">
            <h4 class="modal-title" id="show-title">产值分解</h4>
        </div>
        <form class="form-horizontal" name="outputValueForm"
              novalidate role="form">
            <div class="RuleCont">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>部门</th>
                            <th>软件模块</th>
                            <th>产品名称</th>
                            <th>标准价</th>
                            <th>产值</th>
                            <th>小计</th>
                            <th>总计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in ctrl.productlist">
                            <td ng-bind="product.depName"></td>
                            <td ng-bind="product.productMoreName"></td>
                            <td ng-bind="product.productName"></td>
                            <td  ng-dblclick="ctrl.showStandardPrice()"><span ng-show="!ctrl.showStandard" ng-bind="product.standardPrice"></span><div style="width:20px" ng-show="ctrl.showStandard"><input style="width:20px" ng-model="product.standardPrice" ng-blur="ctrl.udpateProduct(product)"></div></td>
                            <td ng-bind="product.outputValue"></td>
                            <td ng-bind="product.subtotal"></td>
                            <td rowspan="{{ctrl.tdlength}}" ng-bind="ctrl.Price"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
            </div>
        </form>
    </script>
</div>