<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">制定计划</h1>
</div>
<div class="wrapper-md">
     <div class="row bawiMtop">
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                         <label class="control-label fl pt10"  style="padding-left: inherit;">总评分：</label>
                     <div class="pw60  fl">
                             <input type="text" class="form-control" ng-model="ctrl.detail.total">
                         </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-8">
             <div class="col-lg-4" style="width: 50%;padding-left: 0">
                 <div class="panel-default">
                     <div class="panel-body pad7-15">
                         <label class="control-label fl pt10" style="padding-left: 28px">提成基准金额：</label>
                         <div class="pw60  fl">
                             <input type="text" class="form-control" ng-model="ctrl.detail.takeDase">
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">计划周期：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.planCycle">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">提成系数（初评）：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.initTake">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">难度系数（初评）：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.initHard">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">完成周期：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.cycle">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">提成系数（终评）：</label>
                     <div class=" pw60 fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.endTake">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">难度系数（终评）：</label>
                     <div class="fl pw60">
                         <input type="text" class="form-control" ng-model="ctrl.detail.endHard">
                     </div>
                 </div>
             </div>
         </div>




    </div>

     <div class="row" style="margin-top: 5px">
             <!--按钮-->
             <div class="fr  pt10">
                 <button class="btn m-b-xs w-xs btn-success">确定</button>
                 <button class="btn m-b-xs w-xs btn-warning">驳回</button>
                 <button class="btn m-b-xs btn-default"  ng-click="ctrl.openPanel()" >查看更改时间历史记录</button>
             </div>
             <!--表格-->
         <div class="panel-default fl">
            <div class="table-responsive table-striped">
                <table class="table table-striped b-t b-light JG">
                    <thead class="bgJ">
                    <tr>
                        <th>项目阶段</th>
                        <th>计划开始时间</th>
                        <th>计划结束时间</th>
                        <th>实际开始时间</th>
                        <th>实际结束时间</th>
                        <th>是否完成</th>
                        <th>阶段需提交文档</th>
                        <th>提交人</th>
                        <th>是否提交</th>
                        <th>组长确认部门确认</th>
                        <th>质控确认</th>
                        <th>售后确认</th>
                        <th>客户确认</th>
                        <th>项目组确认</th>
                        <th>项目评分</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr role="row" ng-class="$index%2==0?'even':'odd'" ng-repeat="item in ctrl.detail.tbPlanItems">
                        <td ng-bind="item.stageName"></td>
                        <td style="position: relative; padding: 8px">
                            <input class="form-control Rinput29" name="planStartTime" ng-mousemove="ctrl.showDate(item.pkid,0)" value="{{item.planStartTime|date:'yyyy-MM-dd'}}" readonly>
                            <input type="hidden" class="form-control" datepicker-popup="{{ctrl.format}}" ng-model="item.planStartTime" is-open="ctrl.isOpen"  datepicker-options="ctrl.dateOptions" close-text="关闭" ng-if="ctrl.isShow==item.pkid&&'planStartTime'==ctrl.name"  readonly/>
                            <button type="button" class="btn datBut RSerBut" ng-click="ctrl.openTime($event)" ng-if="ctrl.isShow==item.pkid&&'planStartTime'==ctrl.name"><i class="glyphicon glyphicon-calendar"></i></button>
                        </td>
                        <td ng-bind="item.planEndTime"></td>
                        <td ng-bind="item.startTime"></td>
                        <td ng-bind="item.endTime"></td>
                        <td ng-bind="item.isComplete"></td>
                        <td ng-bind="item.docName"></td>
                        <td ng-bind="item.submitter"></td>
                        <td ng-bind="item.isSubmit"></td>
                        <td class="NkRed">待确认</td>
                        <td class="NkRed">待确认</td>
                        <td class="NkRed">待确认</td>
                        <td class="NkRed">待确认</td>
                        <td class="Nkgreen">已确认</td>
                        <td>待评分</td>
                    </tr>
                    </tbody>
                </table>
            </div>
         </div>
     </div>
</div>
<div data-ng-include=" 'src/pc/planDetail/timeUpdateLog.html' " ng-class="ctrl.panelClass"></div>