<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">制定计划</h1>
</div>
<div class="wrapper-md">
     <div class="row bawiMtop">
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                         <label class="control-label fl pt10"  style="padding-left: inherit;">总评分：</label>
                     <div class="pw60  fl">
                             <input type="text" class="form-control" ng-model="ctrl.detail.total">
                         </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-8">
             <div class="col-lg-4" style="width: 50%;padding-left: 0">
                 <div class="panel-default">
                     <div class="panel-body pad7-15">
                         <label class="control-label fl pt10" style="padding-left: 28px">提成基准金额：</label>
                         <div class="pw60  fl">
                             <input type="text" class="form-control" ng-model="ctrl.detail.takeDase">
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">计划周期：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.planCycle">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">提成系数（初评）：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.initTake">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">难度系数（初评）：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.initHard">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">完成周期：</label>
                     <div class="pw60  fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.cycle">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">提成系数（终评）：</label>
                     <div class=" pw60 fl">
                         <input type="text" class="form-control" ng-model="ctrl.detail.endTake">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-4">
             <div class="panel-default">
                 <div class="panel-body pad7-15">
                     <label class="control-label fl pt10">难度系数（终评）：</label>
                     <div class="fl pw60">
                         <input type="text" class="form-control" ng-model="ctrl.detail.endHard">
                     </div>
                 </div>
             </div>
         </div>




    </div>

     <div class="row" style="margin-top: 5px">
             <!--按钮-->
             <div class="fr  pt10">
                 <button class="btn m-b-xs w-xs btn-success" ng-click="ctrl.updatePlanItem(ctrl.detail);">保存</button>
                 <button class="btn m-b-xs w-xs btn-success" ng-click="ctrl.updatePlanDetail();">确定</button>
                 <button class="btn m-b-xs w-xs btn-warning">驳回</button>
                 <button class="btn m-b-xs btn-default"  ng-click="ctrl.openPanel()" >查看更改时间历史记录</button>
             </div>
             <!--表格-->
         <div class="panel-default fl w100">
             <div class="table-responsive table-striped">
                 <table class="table table-striped b-t b-light JG">
                     <thead class="bgJ">
                     <tr>
                         <td></td>
                         <th style="padding:5px 25px;">项目阶段</th>
                         <th>计划时间</th>
                         <th>项目进度</th>
                     </tr>
                     </thead>

                     <tbody ng-repeat="stage in ctrl.detail.tbPlanStages">
                     <tr>
                         <td>
                             <a ng-if="!stage.ifOpen" ng-click="ctrl.openDiv(stage.stageName)"><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                             <a ng-if="stage.ifOpen" ng-click="ctrl.closeDiv(stage.stageName)"><i class="fa fa-minus fa-fw m-r-xs"></i></a>
                         </td>
                         <td ng-bind="stage.stageName"></td>
                         <td>{{stage.planStartTime}}至{{stage.planEndTime}}</td>
                         <td>
                             <div class="progress progress-sm progress-striped active m-t-xs m-b-none">
                                 <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%">60%</div>
                             </div>
                         </td>
                     </tr>
                     <div>
                         <tr ng-if="stage.ifOpen">
                             <td colspan="4" style="padding: 0;">
                                 <div class="TableSF" style="max-height: 100%">
                                     <table class="table table-striped b-t b-light">
                                         <thead>
                                         <tr>
                                             <th>计划时间</th>
                                             <th>是否完成</th>
                                             <th>阶段需要提交文档</th>
                                             <th>是否提交</th>
                                             <th>提交人</th>
                                         </tr>
                                         </thead>
                                         <tbody>
                                         <tr ng-repeat="item in stage.tbPlanItems">
                                             <td class="tabLeft">
                                                 <input ng-model="item.planTime" id="id{{item.pkid}}" onClick="laydate()" >{{item.planTime}}
                                             </td>
                                             <td ng-bind="item.isComplete" class="tabLeft"></td>
                                             <td ng-bind="item.docName" class="tabLeft"></td>
                                             <td ng-bind="item.isSubmit" class="tabLeft"></td>
                                             <td ng-bind="item.submitter" class="tabLeft"></td>
                                         </tr>
                                         </tbody>
                                     </table>
                                 </div>
                             </td>
                         </tr>
                     </div>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
</div>
<div data-ng-include=" 'src/pc/planDetail/timeUpdateLog.html' " ng-class="ctrl.panelClass"></div>