<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>交接单进度</title>
    <script src="./js/mui.min.js"></script>
    <link href="./css/mui.min.css" rel="stylesheet"/>
    <link href="./css/mobileCss.css" rel="stylesheet" />
    <link href="./css/iconfont.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<!--header-->
<header class="mui-bar mui-bar-nav headerBG">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left headerA" href="#/transfer"></a>
    <h1 class="mui-title headerA">交接单进度</h1>
</header>
<!--header end-->
<!--底部导航-->
<nav class="mui-bar mui-bar-tab BG-with">
    <a class="mui-tab-item mui-active" href="#/user">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a ng-show="$ctrl.handoverM" class="mui-tab-item" href="#/transfer">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">交接进度</span>
    </a>
    <a ng-show="$ctrl.transactM" class="mui-tab-item" href="#/transact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">待办事项</span>
    </a>
    <a ng-show="$ctrl.projectMentM" class="mui-tab-item" href="#/projectMent">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">项目管理</span>
    </a>
</nav>

<div class="mui-content w100 fl">
    <!--标题栏-->
    <div class="delivertRecTit">
        <h4>项目交接单</h4>
        <p ng-bind="$ctrl.handover.customerName"></p>
        <p>合同号：{{$ctrl.handover.htNo}}</p>
        <p ng-bind="$ctrl.handover.created | date:'yyyy-MM-dd'"></p>
    </div>
    <!--交接单信息-->
     <div class="applicationInfo"  style="margin-top: 15px; margin-bottom: 15px">
            <p class="textTit">办理信息</p>
            <div class="applicationList">
                <div class="application" ng-show="$ctrl.handover.type=='NEW'">
                    <label>类型</label><span class="mui-pull-right applicationInfoText">合同交接</span>
                </div>
                <div class="application" ng-show="$ctrl.handover.type=='BG'">
                    <label>类型</label><span class="mui-pull-right applicationInfoText">合同变更交接</span>
                </div>
                <div class="application" ng-show="$ctrl.handover.type=='ZB'">
                    <label>类型</label><span class="mui-pull-right applicationInfoText">合同增补交接</span>
                </div>
                <!--<div class="application">
                    <label>合同号</label><span class="mui-pull-right applicationInfoText" ng-bind="$ctrl.handover.htNo"></span>
                </div>
                <div class="application">
                    <label>客户名称</label><span class="mui-pull-right applicationInfoText" ng-bind="$ctrl.handover.customerName"></span>
                </div>-->

                <div class="application" ng-repeat="module in $ctrl.handover.contentJson">
                    <label ng-if="module.value" ng-bind="module.name"></label><span ng-if="module.value" class="mui-pull-right applicationInfoText" ng-bind="module.value"></span>
                </div>
        </div>
    <!--交接单进度-->
    <ul class="mui-table-view fl w100" style="margin-top: 0;" id="contSet">
        <li class="mui-table-view-cell mui-media thisDA" ng-repeat="timeLine in $ctrl.timeLineVos">
            <div  class="mui-media-body padd010">
                <span class="graufont9 font12" ng-bind="timeLine.time"></span>
                <span class="greenFont font14" style="padding-left: 10px;" ng-if="timeLine.colour=='info'">
                    <i class="MHiconfont icon-mobile--tongguo" style="padding-right: 5px;"></i>通过
                </span>
                <span class="redFont font14" style="padding-left: 10px;" ng-if="timeLine.colour=='danger'">
                    <i class="MHiconfont icon-mobile--shape" style="padding-right: 5px;"></i>被驳回
                </span>
                <span class="greenFont font14" style="padding-left: 10px;" ng-if="timeLine.colour=='light'">
                    <i class="MHiconfont icon-mobile--tongguo" style="padding-right: 5px;"></i>待审核
                </span>
                <h5 class="graufont9 font14">{{timeLine.taskName}} <span style="padding-left: 10px;" class="font12">提交人:{{timeLine.name}}</span></h5>
                <h5 class="graufont9 font14">提交时间:{{timeLine.endTime}}</h5>
                <p class="MemListTime mui-ellipsis2" ng-if="timeLine.remark!=''">{{timeLine.remark}}</p>
            </div>
        </li>
    </ul>
</div>

</body>
</html>