<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">项目列表</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div class="fr">
                <div class="btn-group col-px-700" style="position: relative;float:left">
                    <button type="button" ng-click="ctrl.selectByStatus(0)" class="btn btn-default">待安排</button>
                    <button type="button" ng-click="ctrl.selectByStatus(1)" class="btn btn-default">已安排</button>
                </div>
                <div class="col-px-230 fl" style="position: relative;">
                    <input type="text" class="form-control" placeholder="请输入关键字" ng-model="ctrl.selectName">
                </div>
                <div class="col-px-140 fl" style="position: relative;">
                    <button type="button" class="btn btn-default" ng-click="ctrl.selectArrange()">查询</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>合同号</th>
                    <th>医院名称</th>
                    <th>合同名称</th>
                    <th>合同所有者</th>
                    <th>交接时间</th>
                    <th>分解时间</th>
                    <th>项目经理</th>
                    <th ng-if="ctrl.isArrange==1">初步计划</th>
                    <th ng-if="ctrl.isArrange==1">进度</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="handOver in ctrl.handOverList">
                    <td ng-bind="handOver.htNo"></td>
                    <td ng-bind="handOver.customerName"></td>
                    <td ng-bind="handOver.htName"></td>
                    <td ng-bind="handOver.htOwner"></td>
                    <td ng-bind="handOver.created | date:'yyyy-MM-dd'"></td>
                    <td ng-bind="handOver.recountTime | date:'yyyy-MM-dd'"></td>
                    <td ng-if="ctrl.isArrange==1" ng-bind="handOver.proManager"> </td>
                    <td ng-if="ctrl.isArrange==0"><select class="form-control Rinput60" ng-model="handOver.proManager" ng-options="xijl.name for xijl in ctrl.xmjlList" ng-change="ctrl.changeLetter(handOver)"></select><button type="button" ng-click="ctrl.ctreadLetter(handOver)" ng-show="ctrl.pkid==handOver.pkid">生成任命书</button></td>
                    <span ng-if="ctrl.isArrange==1"><span ng-show="handOver.isProjectPlan"> <a ng-click="ctrl.createActualizePlan(handOver);ctrl.openPanel()">制定计划</a></span><span ng-show="handOver.isProjectPlan"><a ng-click="">查看计划</a></span></td>
                    <td ng-if="ctrl.isArrange==1"><a href="#">进度</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
<div data-ng-include=" 'src/pc/project_arrange/actualize_arrange.html' " ng-class="ctrl.panelClass"></div>
<script type="text/ng-template" id="Letter.html">
    <div class="modal-header">
        <h4 class="modal-title" id="show-title">任命书模板</h4>
    </div>
    <div class="RuleCont">
        <div class="panel-body">
            <div calss="btn-group" style="width:700px;margin:0 auto;position: relative;" >
                <button style="float: right" type="button" ng-click="letterCtrl.printLetter()" class="btn btn-default">打印</button>
                <button style="float: right" type="button" ng-click="letterCtrl.sendLetter()" class="btn btn-default">发送</button>
            </div>
            <div id="letterPrint">
            <div style="width:700px;margin:0 auto;">
                <h3 style="text-align: center;margin-top:35px">{{letterCtrl.handOver.customerName}}项目经理人民书</h3>
            </div>
            <table  border="1" bordercolor="#000000" style="border-collapse: collapse;width:700px" align="center">
                <tr ><td style="width:30%;height: 45px;text-align: center">项目名称</td><td style="width:70%;height: 45px;text-align: center">{{letterCtrl.handOver.customerName}}{{letterCtrl.handOver.htName}}</td></tr>
                <tr ><td style="width:30%;height: 45px;text-align: center">生效日期</td><td style="width:70%;height: 45px;text-align: center">{{letterCtrl.newDate | date:'yyyy年MM月dd日'}}</td></tr>
                <tr ><td style="width:30%;height: 45px;text-align: center">有效日期</td><td style="width:70%;height: 45px;text-align: center">至项目交付成功</td></tr>
                <tr><td colspan="2" style="height:650px">为实现{{letterCtrl.handOver.htName}}的成功交付，经生产部门提议、项目管理组审议、总经理批准，<br/>对该项目团队任命决定：

                </td></tr>
            </table>
            </div>
        </div>
    </div>
</script>