<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">项目列表</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div class="fr">
                <div class="btn-group col-px-700" style="position: relative;float:left">
                    <button type="button" ng-click="ctrl.selectByStatus(0)" class="btn btn-default">待安排</button>
                    <button type="button" ng-click="ctrl.selectByStatus(1)" class="btn btn-default">已安排</button>
                </div>
                <div class="col-px-230 fl" style="position: relative;">
                    <input type="text" class="form-control" placeholder="请输入关键字" ng-model="ctrl.selectName">
                </div>
                <div class="col-px-140 fl" style="position: relative;">
                    <button type="button" class="btn btn-default" ng-click="ctrl.selectArrange()">查询</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <td ng-if="ctrl.isArrange==1"></td>
                    <th style="padding:5px 25px;">合同号</th>
                    <th>医院名称</th>
                    <th>合同名称</th>
                    <th>合同所有者</th>
                    <th>交接时间</th>
                    <th>分解时间</th>
                    <th>项目经理</th>
                    <th ng-if="ctrl.isArrange==1">进度</th>
                </tr>
                </thead>

                <tbody ng-if="ctrl.isArrange==0">
                <tr ng-repeat="handOver in ctrl.handOverList">
                    <td ng-bind="handOver.htNo"></td>
                    <td ng-bind="handOver.customerName"></td>
                    <td ng-bind="handOver.htName"></td>
                    <td ng-bind="handOver.htOwner"></td>
                    <td ng-bind="handOver.created | date:'yyyy-MM-dd'"></td>
                    <td ng-bind="handOver.recountTime | date:'yyyy-MM-dd'"></td>
                    <td>
                        <select class="form-control Rinput60" ng-model="handOver.proManager" ng-options="xijl.name for xijl in ctrl.xmjlList" ng-change="ctrl.changeLetter(handOver)"></select>
                        <button type="button" ng-click="ctrl.ctreadLetter(handOver)" ng-show="ctrl.pkid==handOver.pkid">生成任命书</button>
                    </td>

                </tr>
                </tbody>




              <tbody  ng-if="ctrl.isArrange==1" ng-repeat="handOver in ctrl.handOverList">
                  <tr>
                      <td>
                          <a ng-if="!handOver.ifOpen" ng-click="ctrl.openDiv(handOver.pkid)"><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                          <a ng-if="handOver.ifOpen" ng-click="ctrl.closeDiv(handOver.pkid)"><i class="fa fa-minus fa-fw m-r-xs"></i></a>
                      </td>
                      <td ng-bind="handOver.htNo"></td>
                      <td ng-bind="handOver.customerName"></td>
                      <td ng-bind="handOver.htName"></td>
                      <td ng-bind="handOver.htOwner"></td>
                      <td ng-bind="handOver.created | date:'yyyy-MM-dd'"></td>
                      <td ng-bind="handOver.recountTime | date:'yyyy-MM-dd'"></td>
                      <td>邓文灿</td>
                      <td>进度</td>
                  </tr>
                  <div>
                      <tr ng-if="handOver.ifOpen">
                          <td colspan="9" style="padding: 0;">
                              <div class="TableSF">
                                  <table class="table table-striped b-t b-light">
                                      <thead>
                                      <tr>
                                          <th>项目名称</th>
                                          <th>实施经理</th>
                                          <th>计划调研</th>
                                          <th>计划进场</th>
                                          <th>计划上线</th>
                                          <th>计划验收</th>
                                          <th>操作</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="projectPlan in handOver.planList">
                                          <td ng-bind="projectPlan.proName"></td>
                                          <td ng-bind="projectPlan.actualizeManager"></td>
                                          <td ng-bind="projectPlan.surveyTime | date:'yyyy-MM-dd'"></td>
                                          <td ng-bind="projectPlan.approachTime | date:'yyyy-MM-dd'"></td>
                                          <td ng-bind="projectPlan.onlineTime | date:'yyyy-MM-dd'"></td>
                                          <td ng-bind="projectPlan.checkTime | date:'yyyy-MM-dd'"></td>
                                          <td>
                                              <a ng-click="ctrl.updatePlanTime(projectPlan)">修改</a>
                                          </td>
                                      </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </td>
                      </tr>
                  </div>
              </tbody>
            </table>


        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/ng-template" id="Letter.html">
    <div class="modal-header Nkcol-lg-12">
        <h4 class="modal-title" id="show-title">任命书模板</h4>
    </div>
    <div calss="btn-group btn-RenForm" style="width:700px;margin:0 auto;position: absolute; top: 10px;right: 24px;" >
        <button style="float: right" type="button" ng-click="letterCtrl.printLetter()" class="btn btn-default">打印</button>
        <button style="float: right" type="button" ng-click="letterCtrl.sendLetter()" class="btn btn-default">发送</button>
    </div>
    <div class="RenForm" id="letterPrint">
        <div class="FormTable fl">
            <div class="Tit">{{letterCtrl.handOver.customerName}}项目经理任命书</div>
            <div class="tableCont">
                <table>
                    <tr>
                        <td class="font-bold Nkcol-xs-3">项目名称</td>
                        <td>{{letterCtrl.handOver.customerName}}{{letterCtrl.handOver.htName}}</td>
                    </tr>
                    <tr>
                        <td class="font-bold Nkcol-xs-3">生效日期</td>
                        <td>{{letterCtrl.newDate | date:'yyyy年MM月dd日'}}</td>
                    </tr>
                    <tr>
                        <td class="font-bold Nkcol-xs-3">有效日期</td>
                        <td>至项目成功交付</td>
                    </tr>
                </table>
                <div class="TableCo">
                    <p>为实现数字化信息管理系统的成功交付，经生产部门提议、项目管理组审议、总经理批准，对该项目团队任命决定：</p>
                    <H3>一、项目经理任命</H3>
                        <h5>1.项目经理</h5>
                    <p>1) 任命<span> {{letterCtrl.manage.name}}</span> 先生（联系电话：{{letterCtrl.manage.phone}}，邮箱：{{letterCtrl.manage.eMail}}）为项目经理，是项目的直接责任人，也是第一责任人，负责执行项目管理具体工作；</p>
                          <h5>  2.项目经理权责</h5>
                <p>1) 按规范的项目管理方法论，负责管理和控制项目的全过程目标、质量、成本、进度，专业、务实、高效能推进项目；</p>
                <p>2) 制定项目管理计划和所有与项目相关的子计划；</p>
                <p>3) 每周必须与客户项目经理召开项目工作会议，报告进度、质量、问题、风险及对策等;</p>
                <p>4) 按进度要求，将符合质量标准的可交付成果和客户书面正式确认，并将确认单提交项目管理组；</p>
                <p>项目管理组负责人：刘宥均，联系电话：18607356830，邮箱：liuyj@trasen.cn</p>
                    <p class="text-right">湖南创星科技股份有限公司 项目管理组（PMO）</p>
                    <p class="text-right">日期：{{letterCtrl.newDate | date:'yyyy年MM月dd日'}}</p>
                </div>
            </div>
        </div>

    </div>

</script>
<script type="text/ng-template" id="projectPlan.html">
    <div class="modal-header">
        <h4 class="modal-title">修改项目初步计划</h4>
    </div>
    <div class="RuleCont">
        <div class="panel-body">
            <div class="form-group RuleInput">
                <label class="RuleName">实施经理：</label>
                <select class="form-control Rinput60" ng-model="planCtrl.manage" ng-options="xmssjl.name for xmssjl in planCtrl.xmssjlList"></select>
            </div>

            <div class="form-group RuleInput">
                <label  class="RuleName">计划调研：</label>
                <input type="text" class="form-control Rinput50" datepicker-popup="{{planCtrl.format}}" ng-model="planCtrl.plan.surveyTime" is-open="planCtrl.surveyTimeOpen"  datepicker-options="planCtrl.dateOptions" date-disabled="planCtrl.disabled(date, mode)" close-text="关闭" readonly/>
                <button type="button" class="btn RSerBut" ng-click="planCtrl.openSurveyTime($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>

            <div class="form-group RuleInput">
                <label  class="RuleName">计划进场：</label>
                <input type="text" class="form-control Rinput50" datepicker-popup="{{planCtrl.format}}" ng-model="planCtrl.plan.approachTime" is-open="planCtrl.approachTimeOpen"  datepicker-options="planCtrl.dateOptions" date-disabled="planCtrl.disabled(date, mode)" close-text="关闭" readonly/>
                <button type="button" class="btn RSerBut" ng-click="planCtrl.openApproachTime($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>

            <div class="form-group RuleInput">
                <label  class="RuleName">计划上线：</label>
                <input type="text" class="form-control Rinput50" datepicker-popup="{{planCtrl.format}}" ng-model="planCtrl.plan.onlineTime" is-open="planCtrl.onlineTimeOpen"  datepicker-options="planCtrl.dateOptions" date-disabled="planCtrl.disabled(date, mode)" close-text="关闭" readonly/>
                <button type="button" class="btn RSerBut" ng-click="planCtrl.openOnlineTime($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>

            <div class="form-group RuleInput">
                <label  class="RuleName">计划验收：</label>
                <input type="text" class="form-control Rinput50" datepicker-popup="{{planCtrl.format}}" ng-model="planCtrl.plan.checkTime" is-open="planCtrl.checkTimeOpen"  datepicker-options="planCtrl.dateOptions" date-disabled="planCtrl.disabled(date, mode)" close-text="关闭" readonly/>
                <button type="button" class="btn RSerBut" ng-click="planCtrl.openCheckTime($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>

            <div class="form-group RuleInput">
                <label class="RuleName">修改原因：</label>
                <textarea type="text" class="form-control Rinput60" cols="60" rows="4" required name="remark"
                          ng-model="planCtrl.plan.remark"></textarea>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="planCtrl.savePlan(planCtrl.plan)">保存</button>
        <button class="btn btn-warning" type="button" ng-click="planCtrl.cancel()">取消</button>
    </div>
</script>