<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">项目列表</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div class="fr">
                <div class="btn-group col-px-420" style="position: relative;float:left">
                    <button type="button" ng-click="ctrl.selectByStatus(0)" class="btn btn-default">待安排</button>
                    <button type="button" ng-click="ctrl.selectByStatus(1)" class="btn btn-default">已安排</button>
                </div>
                <div class="col-px-230 fl" style="position: relative;">
                    <input type="text" class="form-control" placeholder="请输入关键字" ng-model="ctrl.selectName">
                </div>
                <div class="col-px-140 fl" style="position: relative;">
                    <button type="button" class="btn btn-default" ng-click="ctrl.selectContract()">查询</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>合同号</th>
                    <th>医院名称</th>
                    <th>合同名称</th>
                    <th>合同所有者</th>
                    <th>交接时间</th>
                    <th>分解时间</th>
                    <th>项目经理</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="handOver in ctrl.handOverList">
                    <td ng-bind="handOver.contractNo"></td>
                    <td ng-bind="handOver.customerName"></td>
                    <td ng-bind="handOver.contractName"></td>
                    <td ng-bind="handOver.contractOwner"></td>
                    <td ng-bind="handOver.created | data:'yyyy-MM-dd'"></td>
                    <td ng-bind="handOver.contractOwner"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>