<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  ">
    <!-- column -->
    <div class="col w-lg lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <!--<a href class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="ctrl.createNote()">New</a>-->
                <div class="h4">模版元素</div>
            </div>
            <div class="wrapper b-t m-t-xxs">
                <div class="input-group">
                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="list-group" dragula='"another-bag"' dragula-model='ctrl.items' style="min-height:100px">
                                <a ng-dblclick="ctrl.updateElement(item)" ng-repeat="item in ctrl.items | filter:query "
                                   class="list-group-item b-l-{{item.module | TemplateColor}} b-l-3x">
                                    <span>{{item.name}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <span class="text-muted">备注:</span> <span ng-bind="ctrl.template.remark"></span>
                <!--<div class="m-l inline dropdown" dropdown>
                    <a class="v-middle pos-rlt inline bg-{{ctrl.note.color}}" dropdown-toggle style="width:16px;height:16px;top:-2px"></a>
                    <div class="dropdown-menu animated fadeInUp w wrapper">
                        <a ng-repeat="color in ctrl.colors" class="inline m-xs bg-{{color}}" style="width:18px;height:18px" ng-click=" ctrl.note.color = color "></a>
                    </div>
                </div>-->
                <a href class="pull-right btn btn-sm btn-info m-t-n-xs-left" ng-click="ctrl.addElement()">增加元素</a>
                <a href="#/app/templateList" class="pull-right btn btn-sm btn-info m-t-n-xs-left">返回列表</a>
                <a href class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="ctrl.saveTemplate()">保存模板</a>


            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">

                        <div class="panel panel-default">
                            <div class="panel-heading font-bold" ng-bind="ctrl.template.name">

                            </div>
                            <div class="panel-body">
                                <div class="row" dragula='"another-bag"' dragula-model='ctrl.template.contentJson' style="min-height:100px">
                                    <div class="form-group RuleInput" ng-repeat='text in ctrl.template.contentJson'>
                                        <label class="RuleName130" >{{text.name}}：</label>

                                        <input type="text" class="form-control Rinput60"  ng-show="!text.input" value="预览交接单时自动填充" readonly>



                                        <input type="text" class="form-control Rinput{{text.length}}"  ng-if="text.input=='text'" readonly>



                                        <label class="checkbox-inline i-checks" ng-if="text.input=='radio'">
                                            <input type="radio"><i></i> 是
                                        </label>
                                        <label class="checkbox-inline i-checks" ng-if="text.input=='radio'">
                                            <input type="radio"><i></i> 否
                                        </label>



                                        <textarea type="text" class="form-control Rinput{{text.length}}" cols="60" rows="4"  ng-if="text.input=='textarea'" readonly></textarea>



                                        <input type="text" class="form-control Rinput{{text.length}}" ng-if="text.input=='date'" readonly/>
                                        <button type="button" class="btn RSerBut" ng-if="text.input=='date'"><i class="glyphicon glyphicon-calendar"></i></button>






                                    </div>






                                    </div>
                            </div>
                        </div>







                    </div>
                </div>





            </div>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->

<script type="text/ng-template" id="element.html">
    <div class="modal-header">
        <h4 class="modal-title" id="show-title">模板数据</h4>
    </div>
    <form class="form-horizontal" name="form"
          ng-submit="ctrl.saveTemplateItem(form.$valid,form.$invalid,ctrl.templateItem)"
          novalidate role="form">
        <div class="RuleCont">
            <div class="panel-body">
                <div class="form-group RuleInput">
                    <label class="RuleName">名称：</label>
                    <input type="text" class="form-control Rinput60" ng-model="ctrl.templateItem.name" name="name">
                    <span class="errorInput"
                          ng-show="form.name.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">CODE：</label>
                    <input type="text" class="form-control Rinput60" name="code" ng-model="ctrl.templateItem.code">
                    <span class="errorInput"
                          ng-show="form.code.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">元素模板：</label>
                    <select  class="form-control Rinput60"  name="elementModule" ng-model="ctrl.templateItem.type" required>
                        <option value="">请选择</option>
                        <option value="handover">交接单</option>
                    </select>
                    <span class="errorInput"
                          ng-show="form.elementModule.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">模块类型：</label>
                    <select  class="form-control Rinput60"  name="elementType" ng-model="ctrl.templateItem.input"  required>
                        <option value="">请选择</option>
                        <option value="text">文本框</option>
                        <option value="radio">单选框</option>
                        <option value="date">日期框</option>
                        <option value="textarea">多文本</option>
                    </select>
                    <span class="errorInput"
                          ng-show="form.elementType.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">显示样式：</label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" name="templateItem-style" value="1" ng-model="ctrl.level" ><i></i> 一排一个
                    </label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" name="templateItem-style" value="2" ng-model="ctrl.level"><i></i> 一排两个
                    </label>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">模块：</label>
                    <select  class="form-control Rinput60"  name="showModule" ng-model="ctrl.templateItem.module" required>
                        <option value="">请选择</option>
                        <option value="客户信息">客户信息</option>
                        <option value="合同信息">合同信息</option>
                        <option value="实施要求">实施要求</option>
                    </select>
                    <span class="errorInput"
                          ng-show="form.showModule.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">是否必填：</label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" name="isRequired" value="0" ng-model="ctrl.isRequired" ><i></i>否
                    </label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" name="isRequired" value="1" ng-model="ctrl.isRequired"><i></i>是
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="submit">保存</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
        </div>
    </form>
</script>