<form class="form-horizontal" name="form" novalidate>
    <!--标题-->
    <div class="fl RuleTit">
        <i>|</i>
        交接单
        <div class="fr">
            <input ng-show="ctrl.tag!=4" type="submit"  ng-click="ctrl.handoverSave()" class="save fl" value="保存" />
            <input ng-show="ctrl.tag!=4" type="submit" ng-click="ctrl.handoverSubmit()" class="save fl" value="提交" />
            <input ng-show="ctrl.tag!=4" type="submit" ng-click="ctrl.fileUploader(ctrl.handover)" class="save fl" value="附件" />
            <input type="button" class="CloseBut fl" ng-click="ctrl.closePanel()"/>
        </div>
    </div>

    <div class="RuleCont">

        <div class="panel-body">
            <div class="row">
                <div class="form-group RuleInput" ng-repeat='text in ctrl.handover.contentJson'>
                    <label class="RuleName130" >{{text.name}}：</label>

                    <input type="text" class="form-control Rinput60"  ng-show="!text.input" value="预览交接单时自动填充" readonly>

                    <!-- 单行文本框 -->
                    <input type="text" class="form-control Rinput{{text.length}}"  ng-if="text.input=='text'" ng-model="text.value">

                    <!-- 单选框 -->
                    <label class="checkbox-inline i-checks" ng-if="text.input=='radio'">
                        <input type="radio" name="{{text.code}}" ng-model="text.value"  value="1"><i></i> 是
                    </label>
                    <label class="checkbox-inline i-checks" ng-if="text.input=='radio'">
                        <input type="radio" name="{{text.code}}" ng-model="text.value" value="0"><i></i> 否
                    </label>

                    <!-- 多行文本框 -->
                    <textarea type="text" class="form-control Rinput{{text.length}}" cols="60" rows="4"  ng-if="text.input=='textarea'" ng-model="text.value"></textarea>

                    <!-- 时间选择框 -->
                    <input type="text" class="form-control Rinput{{text.length}}" datepicker-popup="{{ctrl.format}}" ng-model="text.value" is-open="ctrl.enterTime"  datepicker-options="ctrl.dateOptions" close-text="关闭"  ng-if="text.input=='date'&&text.code=='enterTime'" readonly/>
                    <button type="button" class="btn RSerBut" ng-click="ctrl.openEnterTime($event)" ng-if="text.input=='date'&&text.code=='enterTime'"><i class="glyphicon glyphicon-calendar"></i></button>

                    <input type="text" class="form-control Rinput{{text.length}}" datepicker-popup="{{ctrl.format}}" ng-model="text.value" is-open="ctrl.finishTime"  datepicker-options="ctrl.dateOptions" close-text="关闭"  ng-if="text.input=='date'&&text.code=='finishTime'" readonly/>
                    <button type="button" class="btn RSerBut" ng-click="ctrl.openFinishTime($event)" ng-if="text.input=='date'&&text.code=='finishTime'"><i class="glyphicon glyphicon-calendar"></i></button>


                </div>
            </div>
        </div>

    </div>

</form>

