<div class="wrapper bg b-b">
    <button class="btn btn-sm btn-success pull-right" ui-toggle-class="timeline-center" target=".timeline">居中显示</button>
    <input type="button" class="CloseBut fl" ng-click="ctrl.closePanel()"/>
    <h3 class="m-n font-thin">交接单进度图</h3>






</div>
<div class="col">
    <div class="wrapper">
        <ul class="timeline">
            <li class="tl-header">
                <div class="btn btn-info">开始</div>
            </li>



            <li ng-class="$index%2==1?'tl-item tl-left':'tl-item'" ng-repeat="timeline in ctrl.timeLineList">
                <div class="tl-wrap b-{{timeline.colour}}">
                    <span class="tl-date" ng-bind="timeline.time"></span>
                    <div class="tl-content panel  bg-{{timeline.colour}} padder b-a">
                        <span ng-if="$index%2==1" class="arrow arrow-{{timeline.colour}} left pull-up hidden-left"></span>
                        <span ng-if="$index%2==1" class="arrow arrow-{{timeline.colour}} right pull-up visible-left"></span>
                        <span ng-if="$index%2==0" class="arrow arrow-{{timeline.colour}} left pull-up"></span>
                        <div class="text-lt m-b-sm" ng-bind="timeline.taskName"></div>
                        <div class="panel-body pull-in b-t b-light">
                            <span ng-show="timeline.remark">{{timeline.remark}}<br></span>
                            <spen>提交人:{{timeline.name}}<br></spen>
                            <spen>提交时间:{{timeline.endTime}}</spen>
                        </div>
                    </div>
                </div>
            </li>






            <li class="tl-header">
                <div class="btn btn-sm btn-default btn-rounded">结束</div>
            </li>
        </ul>
    </div>
</div>