<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">交接单列表</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div class="fr">
                <div class="col-px-270 fl" style="position: relative;">
                    <input type="text" class="form-control" placeholder="请输入合同号、客户名、合同名称" ng-model="ctrl.selectName">
                </div>
                <div class="col-px-100 fl" style="position: relative;">
                    <button type="button" class="btn btn-default" ng-click="ctrl.selectContract()">查询</button>
                </div>
                <div class="col-px-50 fl" style="text-align:center;padding: 7px"><label class="RuleName">类型:</label></div>
                <div class="col-px-150 fl" style="position: relative;">
                    <select ng-model="ctrl.selectType" class="form-control" ng-change="ctrl.selectChange()">
                        <option value="">请选择</option>
                        <option value="new">交接单</option>
                    </select>
                </div>
                <div class="col-px-80 fl" style="text-align:center;padding: 7px"><label class="RuleName">步骤查询:</label></div>
                <div class="col-px-150 fl" style="position: relative;">
                    <select ng-model="ctrl.nowStep" class="form-control" ng-change="ctrl.selectNowStepChange()">
                        <option value="">请选择</option>
                        <option value="销售提交交接单">销售提交交接单</option>
                        <option value="内控审批">内控审批</option>
                        <option value="企管部经理审批">企管部经理审批</option>
                        <option value="生产部门确认">生产部门确认</option>
                        <option value="项目管理确认">项目管理确认</option>
                        <option value="总经理审批">总经理审批</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>合同号</th>
                    <th>客户名称</th>
                    <th>合同名称</th>
                    <th>拥有者</th>
                    <th>交接时间</th>
                    <th>当前步骤</th>
                    <th>安排</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="htHandOver in ctrl.htHandOverList" ng-click="ctrl.openTimeLine(htHandOver.processId)"
                    ng-dblclick="ctrl.openPanel()">
                    <td ng-bind="htHandOver.type |handOverType"></td>
                    <td ng-bind="htHandOver.htNo"></td>
                    <td ng-bind="htHandOver.customerName"></td>
                    <td ng-bind="htHandOver.htName"></td>
                    <td ng-bind="htHandOver.htOwner"></td>
                    <td ng-bind="htHandOver.created | date:'yyyy-MM-dd'"></td>
                    <td ng-bind="htHandOver.nowStep"></td>
                    <td >{{htHandOver.isArrange==0 ? '否' : '是'}}</td>
                    <td>
                        <a href="#/access/handover?id={{htHandOver.pkid}}" target="_blank">查看
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
</div>
    <div data-ng-include=" 'src/pc/handOver/handoverTimeline.html' " ng-class="ctrl.panelClass"></div>
</div>