<div class="RuleCont">
    <!--按钮-->
    <div class="col-lg-2-4" style="margin-left: 36%; margin-bottom: 10px">
        <button class="btn m-b-xs w-xs btn-success" ng-click="ctrl.savePlanTemp()">提交</button>
        <a href="#/app/planTemplate"><button class="btn m-b-xs w-xs btn-default">返回列表</button></a>
    </div>
    <!--按钮end-->
    <div class="panel-body">
        <div class="form-group RuleInput">
            <label class="RuleName">计划模板类型：</label>
            <select class="form-control Rinput60" ng-model="ctrl.type" class="form-control" required name="type" ng-change="ctrl.showModule()">
                <option value="">请选择</option>
                <option value="actualize">实施计划</option>
            </select>
            <span class="errorInput"
                  ng-show="form.type.$error.required && ctrl.submitted">
                              该选项框必填
                    </span>
        </div>
        <div class="form-group RuleInput">
            <label class="RuleName">产品类型：</label>
            <select  class="form-control Rinput60"  ng-model="ctrl.twfpro" ng-options="twfpro.proName for twfpro in ctrl.productList" required name="namepro"><option value="">请选择</option></select>
            <span class="errorInput"
                  ng-show="form.namepro.$error.required && ctrl.submitted">
                              该选项框必填
                    </span>
        </div>
        <div class="form-group RuleInput">
            <label class="RuleName">请选择：</label>

            <div style="width: 135%">
                <div class="fisJi bgwh">
                    <ul>
                        <li style="margin: 5px">
                            <span class="labLiLe labCenter">阶段</span>
                            <span class="labLiRi">进度</span>
                        </li>

                        <!--li ng-repeat="stage in ctrl.twfStageList">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox"  ng-checked="ctrl.isNewSelected(newProMod)" ng-click="ctrl.updateNewSelection($event,newProMod)"><i></i>{{newProMod.modName}}
                            </label>
                            <label class="checkbox-inline i-checks">
                                <i></i>进度设置:<input type="text" ng-module="stage.poit">
                            </label>
                        </li-->

                        <li ng-repeat="stage in ctrl.twfStageList">
                            <label class="checkbox-inline i-checks labLiLe">
                                <input type="checkbox"  ng-checked="ctrl.isStageSelected(stage)" ng-click="ctrl.updateStageSelection($event,stage)"/><i></i><a ng-click="ctrl.showStageSelect(stage)">{{stage.name}}</a>
                            </label>
                            <span  class="labLiRi pt10">{{stage.poit}}</span>
                            <span  class="labLiRi pt10"> <img src="../../../img/Pagegh.png" height="20" width="18" ng-click="ctrl.deleteStageTemp(stage.pkid)"/></span>
                        </li>
                    </ul>
                </div>
                <div class="fisJi bgwh">
                    <ul>
                        <li style="margin: 5px">
                            <span class="labLiLe labCenter">文档</span>
                            <span class="labLiRi">占比</span>
                        </li>

                        <li ng-repeat="stageDoc in ctrl.stageDocList">
                            <label class="checkbox-inline i-checks labLiLe">
                                <input type="checkbox"  ng-checked="ctrl.isDocSelected(stageDoc)" ng-click="ctrl.updateDocSelection($event,stageDoc)"/><i></i><a ng-click="ctrl.showDocSelect(stageDoc)">{{stageDoc.name}}</a>
                            </label>
                            <span  class="labLiRi pt10">{{stageDoc.output}}</span>
                            <span  class="labLiRi pt10"> <img src="../../../img/Pagegh.png" height="20" width="18" ng-click="ctrl.deleteDocByPkid(stageDoc.pkid)"/></span>
                        </li>
                    </ul>

                </div>
                <div class="fisJi LastBg">
                    <ul>
                        <li style="margin: 5px">
                            <span class="labLiLe labCenter">确认人</span>
                        </li>
                        <!--li ng-repeat="newMod in ctrl.newModuleList">{{newMod}}</li-->

                        <li ng-repeat="checkTag in ctrl.twfCheckTagList">
                            <label class="checkbox-inline i-checks ">
                                <input type="checkbox"  ng-checked="ctrl.isTagSelected(checkTag)" ng-click="ctrl.updateTagSelection($event,checkTag)"><i></i>{{checkTag.name}}
                            </label>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="fl thisBut">
                <ul>
                    <li>
                        <div style="margin-top: 10px">
                            <button class="btn btn-primary btn-addon btn-sm" style="margin-left: 25%" ng-click="ctrl.stageTemp()"><i class="fa fa-plus"></i>添加阶段</button>
                        </div>
                    </li>
                    <li>
                        <div style="margin-top: 10px">
                            <button class="btn btn-primary btn-addon btn-sm" style="margin-left: 25%" ng-click="ctrl.stageDocTemp()"><i class="fa fa-plus" ></i>添加文档</button>
                        </div>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<script type="text/ng-template" id="stageTemp.html">
    <div class="modal-header">
        <h4 class="modal-title" id="show-title">阶段数据</h4>
    </div>
    <form class="form-horizontal" name="form"
          ng-submit="ctrl.saveStageTemp(form.$valid,form.$invalid,ctrl.twfStage)"
          novalidate role="form">
        <div class="RuleCont">
            <div class="panel-body">
                <div class="form-group RuleInput">
                    <label class="RuleName">阶段名称：</label>
                    <input type="text" class="form-control Rinput60" ng-model="ctrl.twfStage.name" name="name" required>
                    <span class="errorInput"
                          ng-show="form.name.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">进度：</label>
                    <input type="text" class="form-control Rinput60" name="poit" ng-model="ctrl.twfStage.poit" required>
                    <span class="errorInput"
                          ng-show="form.poit.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">阶段排序：</label>
                    <input type="text" class="form-control Rinput60" name="px" ng-model="ctrl.twfStage.px" required>
                    <span class="errorInput"
                          ng-show="form.px.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="submit">保存</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="stageDocTemp.html">
    <div class="modal-header">
        <h4 class="modal-title" id="show-title">文档数据</h4>
    </div>
    <form class="form-horizontal" name="form"
          ng-submit="ctrl.saveStageDocTemp(form.$valid,form.$invalid,ctrl.twfStageDoc)"
          novalidate role="form">
        <div class="RuleCont">
            <div class="panel-body">
                <div class="form-group RuleInput">
                    <label class="RuleName">文档名称：</label>
                    <input type="text" class="form-control Rinput60" ng-model="ctrl.twfStageDoc.name" name="name" required>
                    <span class="errorInput"
                          ng-show="form.name.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">阶段选择：</label>
                    <select  class="form-control Rinput60"  ng-model="ctrl.twfStageDoc.stageId" ng-options="twfstage.pkid as twfstage.name for twfstage in ctrl.twfStageList"  name="stageId"></select>
                    </select>
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">文档计算产值：</label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" name="isRequired" value="0" ng-model="ctrl.twfStageDoc.isOutput" ng-click="ctrl.OutputShow(0)"><i></i>否
                    </label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" name="isRequired" value="1" ng-model="ctrl.twfStageDoc.isOutput" ng-click="ctrl.OutputShow(1)"><i></i>是
                    </label>
                </div>
                <div class="form-group RuleInput" ng-show="ctrl.isOutputShow">
                    <label class="RuleName">文档产值：</label>
                    <input type="text" class="form-control Rinput60" ng-model="ctrl.twfStageDoc.output" name="output">
                </div>
                <div class="form-group RuleInput">
                    <label class="RuleName">阶段排序：</label>
                    <input type="text" class="form-control Rinput60" name="px" ng-model="ctrl.twfStageDoc.px" required>
                    <span class="errorInput"
                          ng-show="form.px.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="submit">保存</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">取消</button>
        </div>
    </form>
</script>