<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">计划模块管理</h1>
</div>

<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div  class="fr">
                <div class="col-px-140 fl">
                        <a href="#/app/createPlanTemp?pkid=0"><button class="btn btn-default daochu Nksx">
                            新增模块</button></a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>模板名称</th>
                    <th>产品名称</th>
                    <th>模板类型</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="plan in ctrl.planTempList">
                    <td ng-bind="plan.tempName"></td>
                    <td ng-bind="plan.proName"></td>
                    <td ng-bind="plan.type | templateType"></td>
                    <td ng-bind="plan.created | date:'yyyy-MM-dd'"></td>
                    <td><a href="#/app/createPlanTemp?pkid={{plan.pkid}}" class="btn btn-default daochu Nksx">查看</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
    </div>

</div>