<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>创星之家综合信息平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="./css/mui.min.css" />
    <link rel="stylesheet" href="./css/mobileCss.css" />
    <link rel="stylesheet" href="./css/iconfont.css" />
</head>

<body>
<header class="mui-bar mui-bar-nav headerBG">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left headerA"></a>
    <h1 class="mui-title headerA">创星之家综合信息平台</h1>
</header>
<!--底部导航-->
<nav class="mui-bar mui-bar-tab BG-with">
    <a class="mui-tab-item mui-active" href="#/user">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a ng-show="$ctrl.handoverM" class="mui-tab-item" href="#/transfer">
        <span class="mui-icon mui-icon-list"></span>
        <span class="mui-tab-label">交接进度</span>
    </a>
    <a ng-show="$ctrl.transactM" class="mui-tab-item" href="#/transact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">待办事项</span>
    </a>
    <a ng-show="$ctrl.projectMentM" class="mui-tab-item" href="#/projectMent">
        <span class="mui-icon mui-icon-compose"></span>
        <span class="mui-tab-label">项目管理</span>
    </a>
</nav>
<!--个人信息-->
<div class="mui-content">
    <div class="doctorTop">
        <dl>
            <dd>
                <img ng-if="$ctrl.person.picture!=null" ng-src="{{$ctrl.person.picture}}" class="borderRad100">
                <img ng-if="$ctrl.person.picture==null" src="../../img/u1268.png" class="borderRad100">
                <p>{{$ctrl.person.name}} <span>{{$ctrl.person.position}}</span></p>
                <p>工号：{{$ctrl.person.workNum}} <span>{{$ctrl.person.depName}}</span>　</p>
            </dd>
        </dl>
    </div>

    <div class="TextStyle fl">

        <div class="mui-table-view font16">
            <div class="indexFunc">
                <span sytle="text-align:center;" ng-show="$ctrl.munuList.length==0">您无权限，请联系管理员</span>
                <ul>
                    <li ng-repeat="munu in $ctrl.munuList">
                        <a href="{{munu.url}}">
                            <div class="borderRad100 Square50 marginCenter">
                                <i ng-class="munu.icon"></i>
                            </div>
                            <span ng-bind="munu.name"></span>
                        </a>
                    </li>
<!--                    <li ng-show="$ctrl.confirValueM">
                        <a href="#/confirValue">
                            <div class="borderRad100 Square50 marginCenter">
                                <i class="indexFuncIcon MHiconfont icon-mobile&#45;&#45;chanzhinenghao buleFont"></i>
                            </div>
                            <span>确认产值</span>
                        </a>
                    </li>
                    <li ng-show="$ctrl.transactM">
                        <a href="#/transact">
                            <div class="borderRad100 Square50 marginCenter">
                                <i class="mui-icon MHiconfont icon-mobile&#45;&#45;daiban1 redWarnFont  font40"></i>
                            </div>
                            <span>待办</span>
                        </a>
                    </li>
                    <li ng-show="$ctrl.handoverM">
                        <a href="#/transfer">
                            <div class="borderRad100 Square50 marginCenter">
                                <i class="indexFuncIcon MHiconfont icon-mobile&#45;&#45;jiaojie orgFont"></i>
                            </div>
                            <span>交接进度</span>
                        </a>
                    </li>
                    <li ng-show="$ctrl.projectMentM">
                        <a href="#/projectMent">
                            <div class="borderRad100 Square50 marginCenter">
                                <i class="indexFuncIcon MHiconfont icon-mobile&#45;&#45;xiangmu greenFont"></i>
                            </div>
                            <span>项目管理</span>
                        </a>
                    </li>-->
                    <!--<li>
                        <a href="#/info">
                            <div class="borderRad100 Square50 marginCenter">
                                <i class="indexFuncIcon MHiconfont icon-mobile&#45;&#45;xiaoxizhongxin buleFont"></i>
                            </div>
                            <span>消息中心</span>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>