<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">人才库</h1>
</div>
<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div  class="fr">

                <div class="col-px-140 fl" ng-show="ctrl.isShowOpe('add')">
                    <button class="btn btn-default xguize Nksx" ng-click="ctrl.createTalent();ctrl.openPanel()">
                        新增</button>
                </div>
                <div class="col-px-80 fl" style="position: relative;" id="myShaix">
                    <button class="btn btn-default saixuan Nksx"  ng-click="ctrl.toggShaix()">
                        筛选</button>
                    <!--筛选弹出-->
                    <div class="shaixBox" style="display: block;" ng-show="ctrl.myShaix">
                        <div  class="wixian"></div>

                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-70 control-label fl NkSN">姓名</label>
                                <div class="col-px-230 fr">
                                    <input type="text" class="form-control" placeholder="姓名筛选" ng-model="ctrl.name">
                                </div>
                            </div>
                        </div>
                        <!--部门-->
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-70 control-label fl NkSN">擅长技术</label>
                                <div class="col-px-230 fr">
                                    <input type="text" class="form-control" placeholder="擅长技术筛选" ng-model="ctrl.beGood">
                                </div>
                            </div>
                        </div>

                        <!--部门-->
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-70 control-label fl NkSN">意向岗位</label>
                                <div class="col-px-230 fr">
                                    <input type="text" class="form-control" placeholder="意向岗位筛选" ng-model="ctrl.willJob">
                                </div>
                            </div>
                        </div>
                        <!--部门-->
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-70 control-label fl NkSN">是否来过公司</label>
                                <div class="col-px-230 fr">
                                    <label class="checkbox-inline i-checks">
                                        <input type="radio" name="talent-isComeCx" value="1" ng-model="ctrl.isComeCx"><i></i> 来过
                                    </label>
                                    <label class="checkbox-inline i-checks">
                                        <input type="radio" name="talent-isComeCx" value="0" ng-model="ctrl.isComeCx"><i></i> 未来过
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-70 control-label fl NkSN">面试结果</label>
                                <div class="col-px-230 fr">
                                    <select class="form-control Rinput60" ng-model="ctrl.twfDictms" required  name="result" ng-options="twfDict.name  for twfDict in ctrl.twfDictmsList"></select>
                                </div>
                            </div>
                        </div>
                        <!--重置按钮-->
                        <div class="fr NKwrapper">
                            <button class="btn m-b-xs w-xs ButCz" ng-click="ctrl.cancel()">清空</button>
                            <button class="btn m-b-xs w-xs ButCz" ng-click="ctrl.submitSeach()">查询</button>
                        </div>

                    </div>
                    <!--筛选弹出end-->

                </div>
                <div class="col-px-80 fl" ng-show="ctrl.isShowOpe('export')">
                    <a ng-href="{{ctrl.excelTalentExprot}}" >
                        <button class="btn btn-default daochu Nksx">
                            导出</button></a>
                </div>


            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <label class="i-checks m-b-none">
                            <input type="checkbox"><i></i>
                        </label>
                    </th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>就业年限</th>
                    <th>意向岗位</th>
                    <th>擅长技术</th>
                    <th>面试结果</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pool in ctrl.talentList" ng-click="ctrl.updateTalentView(pool)"
                    ng-dblclick="ctrl.openPanel()">
                    <td><label class="i-checks m-b-non"><input type="checkbox" name="post[]"><i></i></label>
                    </td>
                    <td ng-bind="pool.name"></td>
                    <td ng-bind="pool.sex | sexType"></td>
                    <td ng-bind="pool.workDate | workDateType"></td>
                    <td ng-bind="pool.willJob"></td>
                    <td ng-bind="pool.beGood"></td>
                    <td ng-bind="pool.result | talentmsType"></td>
                    <td ng-bind="pool.remark"></td>
                    <td>
                        <a ng-click="ctrl.deleteTalent(pool.pkid)">删除
                        </a>
                        <a ng-click="ctrl.updateTalentView(pool);ctrl.openPanel()">修改
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
    </div>

    <div data-ng-include=" 'src/pc/talentPool/talent.tpl.html' " ng-class="ctrl.panelClass"></div>
</div>