<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">人员离职管理</h1>
</div>

<div class="wrapper-md">

    <div class="row bawiMtop">
        <div class="col-lg-4">
            <div class="panel-default">
                <div class="panel-body pad7-15">
                    <label class="control-label fl pt10" style="padding-left: 28px;" >姓名：</label>
                    <div class="pw65  fl">
                        <input type="text" class="form-control" placeholder="姓名筛选" ng-model="ctrl.name">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel-default">
                <div class="panel-body pad7-15">
                    <label class="control-label fl pt10" style="padding-left: 28px;" >部门：</label>
                    <div class="pw65  fl">
                        <input type="text" class="form-control" placeholder="部门" ng-model="ctrl.depName">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel-default">
                <div class="panel-body pad7-15">
                    <label class="control-label fl pt10" style="padding-left: 28px;" >岗位：</label>
                    <div class="pw65  fl">
                        <select class="form-control Rinput60" ng-model="ctrl.twfDictPo" ng-options="twfDict.name  for twfDict in ctrl.twfDictpoList"><option value="">请选择</select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel-default">
                <div class="panel-body pad7-15">
                    <label class="control-label fl pt10" style="padding-left: 28px;" >工号：</label>
                    <div class="pw65  fl">
                        <input type="text" class="form-control" placeholder="工号" ng-model="ctrl.workNum">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel-default">
                <div class="panel-body pad7-15">
                    <label class="control-label fl pt10" style="padding-left: 28px;" >性别：</label>
                    <div class="pw60  fl" style="padding-top: 9px">
                        <label class="checkbox-inline i-checks">
                            <input type="radio" name="person-sexcx" value="1" ng-model="ctrl.sexcx" ><i></i> 男
                        </label>
                        <label class="checkbox-inline i-checks">
                            <input type="radio" name="person-sexcx" value="2" ng-model="ctrl.sexcx"><i></i> 女
                        </label>
                    </div>
                </div>
            </div>
        </div>


    </div>
        <!--<div class="row NKwrapper Nkinput">
            <div  class="fr">
                <div class="col-px-80 fl" style="position: relative;" id="myShaix">
                    <button class="btn btn-default saixuan Nksx"  ng-click="ctrl.toggShaix()">
                        筛选</button>
                    &lt;!&ndash;筛选弹出&ndash;&gt;
                    <div class="shaixBox_sj" style="display: block;" ng-show="ctrl.myShaix">
                        <div  class="wixian"></div>

                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-60 control-label fl NkSN">姓名</label>
                                <div class="col-px-270 fr">
                                    <input type="text" class="form-control" placeholder="姓名筛选" ng-model="ctrl.name">
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash;部门&ndash;&gt;
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-60 control-label fl NkSN">部门</label>
                                <div class="col-px-270 fr">
                                    <input type="text" class="form-control" placeholder="部门筛选" ng-model="ctrl.depName">
                                </div>
                            </div>
                        </div>
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-60 control-label fl NkSN">性别</label>
                                <div class="col-px-270 fr">
                                    <input type="radio" name="person-sexcx" value="1" ng-model="ctrl.sexcx" ><i></i> 男
                                    <input type="radio" name="person-sexcx" value="2" ng-model="ctrl.sexcx"><i></i> 女
                                </div>
                            </div>
                        </div>
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-60 control-label fl NkSN">工号</label>
                                <div class="col-px-270 fr">
                                    <input type="text" class="form-control" placeholder="工号" ng-model="ctrl.workNum">
                                </div>
                            </div>
                        </div>
                        <div class="brbotP NKwrapper Nkcont">
                            <div class="form-group NkSerTit">
                                <label class="col-px-60 control-label fl NkSN">岗位</label>
                                <div class="col-px-270 fr">
                                    <select class="form-control Rinput60" ng-model="ctrl.twfDictPo" ng-options="twfDict.name  for twfDict in ctrl.twfDictpoList"></select>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash;重置按钮&ndash;&gt;
                        <div class="fr NKwrapper">
                            <button class="btn m-b-xs w-xs ButCz" ng-click="ctrl.cancel()">清空</button>
                            <button class="btn m-b-xs w-xs ButCz" ng-click="ctrl.submitSeach()">查询</button>
                        </div>

                    </div>
                    &lt;!&ndash;筛选弹出end&ndash;&gt;

                </div>
                <div class="col-px-80 fl" ng-show="ctrl.isShowOpe('export')">
                    <a ng-href="{{ctrl.excelQuitPersonExprot}}" >
                        <button class="btn btn-default daochu Nksx">
                            导出</button></a>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="fr  pt10">
                <button class="btn m-b-xs w-xs btn-warning" ng-click="ctrl.cancel()">清空</button>
                <button class="btn m-b-xs w-xs btn-info" ng-click="ctrl.submitSeach()">查询</button>
                <a ng-show="ctrl.isShowOpe('export')" ng-href="{{ctrl.excelQuitPersonExprot}}" >
                    <button class="btn m-b-xs w-xs btn-success">导出</button>
                </a>
            </div>
            <div class="panel panel-default fl w100">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <label class="i-checks m-b-none">
                            <input type="checkbox"><i></i>
                        </label>
                    </th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>工号</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>手机号码</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="per in ctrl.personList" ng-click="ctrl.updatePersonnelView(per)"
                    ng-dblclick="ctrl.openQuitPanel()">
                    <td><label class="i-checks m-b-non"><input type="checkbox" name="post[]"><i></i></label>
                    </td>
                    <td ng-bind="per.name"></td>
                    <td ng-bind="per.sex | sexType"></td>
                    <td ng-bind="per.workNum"></td>
                    <td ng-bind="per.depName"></td>
                    <td ng-bind="per.position"></td>
                    <td ng-bind="per.phone"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
            </div>
    </div>

</div>

<script type="text/ng-template" id="selectAddressName.html">
    <div class="modal-header">
        <h4 class="modal-title" id="show-title">导出设置</h4>
    </div>
    <div class="modal-body" id="show-body">
        <label class="checkbox-inline i-checks" ng-repeat="tagName in Addressctrl.selectList">
            <input type="checkbox" id="tagName"   ng-checked="Addressctrl.isSelected(tagName)" ng-click="Addressctrl.updateSelection($event,tagName)"><i></i> {{tagName}}
        </label>
    </div>


    <div class="modal-footer">
        <a ng-href="{{Addressctrl.excelPersonAddressExprot}}"><button class="btn btn-warning" ng-click="Addressctrl.save()">导出</button></a>
        <button class="btn btn-warning" type="button" ng-click="Addressctrl.cancel()">取消</button>
    </div>
</script>

<div data-ng-include=" 'src/pc/quit/quitpersonnel.tpl.html' " ng-class="ctrl.panelClass"></div>