<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>项目详情</title>
    <link href="./css/mui.min.css" rel="stylesheet"/>
    <link href="./css/mobileCss.css" rel="stylesheet" />
    <link href="./css/iconfont.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<!--header-->
<header class="mui-bar mui-bar-nav headerBG">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left headerA" href="#/projectMent"></a>
    <h1 class="mui-title headerA" ng-bind="$ctrl.handover.htName"></h1>
</header>
<!--header end-->
<!--底部导航-->
<nav class="mui-bar mui-bar-tab BG-with">
    <a class="mui-tab-item mui-active" href="#/user">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="#/info">
        <span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>
        <span class="mui-tab-label">消息中心</span>
    </a>
    <a class="mui-tab-item" href="#/transact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">待办事项</span>
    </a>
    <a class="mui-tab-item" href="#/user">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>

<div class="mui-content">
    <div class="mui-table-view-cell mui-media withBG">
        <div class="mui-media-body">
            <h5 class="graufont6  mui-ellipsis font18" ng-bind="$ctrl.handover.htName">实施计划文档</h5>
            <p class="font16 mui-ellipsis-2 graufont3">HIS系统 <span class="font14"> 项目经理：{{$ctrl.handover.proManager}}</span></p>
            <h5 class="greenFont"> 提成基准金额：{{$ctrl.planDetail.takeDase}}</h5>
        </div>
    </div>
    <div class="mui-table-view" style="margin-top: 15px">
        <div class="mui-table-view-cell" style="padding: 0;">
            <div class="swiper-container schswiper withBG swiper-container-horizontal">
                <div class="swiper-wrapper" id="paiban" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-active outPutList" style="position: relative;">

                        <ul class="mui-table-view" style="margin-top: 0">
                            <li ng-class="{'mui-table-view-cell mui-collapse':!$ctrl.objTypeDetail[{{$index}}],'mui-table-view-cell mui-collapse mui-active':$ctrl.objTypeDetail[{{$index}}]}"  ng-repeat="planStage in $ctrl.planDetail.tbPlanStages">
                                <a class="mui-navigate-right posRe" ng-click="$ctrl.chickClassMui($index)">
                                    <span class="w60 fl" ng-bind="planStage.stageName"></span>
                                    <span class="fl font12 graufont9">{{planStage.planStartTime}}至{{planStage.planEndTime}}</span>
                                </a>
                                <ul class="mui-table-view mui-table-view-chevron">
                                    <li class="mui-table-view-cell posRe" ng-repeat="planItem in planStage.tbPlanItems">
                                        <div class="mui-media-body">
                                            <p class="font14 mui-ellipsis-2 graufont3" ng-bind="planItem.docName"></p>
                                            <p class="font12 graufont9" ng-bind="planItem.planTime"></p>
                                            <a class="graufont9 font12" ng-show="planItem.fileName" href="/vendor/pdf/web/viewer.html?file=%2fts-project%2fdownload%2fmobileView%3ffileName%3d{{planItem.fileName}}" target="_blank">
                                                查看文档
                                            </a>
                                            <p class="graufont9 font12">文档提交：{{planItem.submitTime | date:'yyyy-MM-dd'}}
                                                <span class="buleFont" style="padding-left: 5px" ng-bind="planItem.submitter"></span>
                                                <span ng-show="planItem.isSubmit==1">
                                                    <button type="button" ng-show="$ctrl.showButton(planItem.planChecks,$ctrl.planDetail.userRole,'|check|')" class="mui-btn traBut buleButBG fr" ng-click="$ctrl.checkOk(planItem,$ctrl.planDetail.userRole)" style="padding: 4px 15px">确认</button>
                                                    <button type="button" ng-show="$ctrl.showButton(planItem.planChecks,$ctrl.planDetail.userRole,'|back|')" class="mui-btn traBut buleButBG fr" ng-click="$ctrl.checkBack(planItem,$ctrl.planDetail.userRole)" style="padding: 4px 15px;float: right;">驳回</button>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>