<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">确认产值</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">


        <div>


            <tabset class="tab-container">
                <tab heading="未确认产值" ng-click="ctrl.selectByStatus(0)">
                    <div class="row NKwrapper Nkinput">
                        <div class="fr">
                            <div class="btn-group col-px-700" style="position: relative;float:left">
                                <button type="button" ng-click="ctrl.selectByType('dept')" class="btn btn-default">按部门</button>
                                <button type="button" ng-click="ctrl.selectByType('ht')" class="btn btn-default">按合同</button>
                                <button type="button" ng-click="ctrl.selectByType('proLine')" class="btn btn-default">按产品线</button>
                            </div>
                            <div class="col-px-230 fl" style="position: relative;">
                                <input type="text" class="form-control" placeholder="请输入关键字" ng-model="ctrl.name">
                            </div>
                            <div class="col-px-140 fl" style="position: relative;">
                                <button type="button" class="btn btn-default" ng-click="ctrl.selectOutput()">查询</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th></th>
                                <th ng-if="ctrl.type=='dept'">部门</th>
                                <th ng-if="ctrl.type=='ht'">合同</th>
                                <th ng-if="ctrl.type=='proLine'">产品线</th>
                                <th>待确认产值</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody ng-repeat="vo in ctrl.voList">
                            <tr>
                                <td>
                                    <a ng-if="!vo.ifOpen" ng-click="ctrl.openDiv(vo.id)"><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                                    <a ng-if="vo.ifOpen" ng-click="ctrl.closeDiv(vo.id)"><i class="fa fa-minus fa-fw m-r-xs"></i></a>
                                </td>
                                <td ng-bind="vo.name"></td>
                                <td ng-bind="vo.totle"></td>
                                <td><button class="btn btn-rounded btn-sm btn-info" ng-click="ctrl.checkOutputValue(vo)">确定</button></td>
                            </tr>
                            <div>
                                <tr ng-if="vo.ifOpen">
                                    <td colspan="4" style="padding: 0;">
                                        <div class="TableSF">
                                            <table class="table table-striped b-t b-light">
                                                <thead>
                                                <tr>
                                                    <th style="width:20px;">
                                                        <label class="i-checks m-b-none">
                                                            <input type="checkbox" ng-checked="vo.checked" ng-click="ctrl.isSelectedAll(vo)"><i></i>
                                                        </label>
                                                    </th>
                                                    <th>序号</th>
                                                    <th>合同号</th>
                                                    <th>医院名称</th>
                                                    <th>合同名称</th>
                                                    <th>产品</th>
                                                    <th>阶段报告</th>
                                                    <th>核算比例(%)</th>
                                                    <th>分配合同额(万)</th>
                                                    <th>本次产值</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="output in vo.outputValueList">
                                                    <td>
                                                        <label class="i-checks m-b-none">
                                                            <input type="checkbox" ng-checked="output.checked"  ng-click="ctrl.isSelected(output)" name="post[]"><i></i>
                                                        </label>
                                                    </td>
                                                    <td ng-bind="output.pkid"></td>
                                                    <td ng-bind="output.htNo"></td>
                                                    <td ng-bind="output.customerName"></td>
                                                    <td ng-bind="output.htName"></td>
                                                    <td ng-bind="output.proName"></td>
                                                    <td ng-bind="output.docName"></td>
                                                    <td ng-bind="output.output"></td>
                                                    <td ng-bind="output.total"></td>
                                                    <td ng-bind="output.subtotal"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                            </div>
                            <div class="col-sm-5 text-right text-center-xs">
                                <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                            ng-change="ctrl.pageChanged()"
                                            items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                            boundary-links="true" force-ellipses="true"></pagination>
                            </div>
                        </div>
                    </footer>
                </tab>
                <tab heading="已确认产值" ng-click="ctrl.selectByStatus(1)">
                    <div class="row NKwrapper Nkinput">
                        <div class="fr">
                            <div class="btn-group col-px-700" style="position: relative;float:left">
                                <button type="button" ng-click="ctrl.selectByType('dept')" class="btn btn-default">按部门</button>
                                <button type="button" ng-click="ctrl.selectByType('ht')" class="btn btn-default">按合同</button>
                                <button type="button" ng-click="ctrl.selectByType('proLine')" class="btn btn-default">按产品线</button>
                            </div>
                            <div class="col-px-230 fl" style="position: relative;">
                                <input type="text" class="form-control" placeholder="请输入关键字" ng-model="ctrl.name">
                            </div>
                            <div class="col-px-140 fl" style="position: relative;">
                                <button type="button" class="btn btn-default" ng-click="ctrl.selectOutput()">查询</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th></th>
                                <th ng-if="ctrl.type=='dept'">部门</th>
                                <th ng-if="ctrl.type=='ht'">合同</th>
                                <th ng-if="ctrl.type=='proLine'">产品线</th>
                                <th>待确认产值</th>
                            </tr>
                            </thead>

                            <tbody ng-repeat="vo in ctrl.voList">
                            <tr>
                                <td>
                                    <a ng-if="!vo.ifOpen" ng-click="ctrl.openDiv(vo.id)"><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                                    <a ng-if="vo.ifOpen" ng-click="ctrl.closeDiv(vo.id)"><i class="fa fa-minus fa-fw m-r-xs"></i></a>
                                </td>
                                <td ng-bind="vo.name"></td>
                                <td ng-bind="vo.totle"></td>
                            </tr>
                            <div>
                                <tr ng-if="vo.ifOpen">
                                    <td colspan="3" style="padding: 0;">
                                        <div class="TableSF">
                                            <table class="table table-striped b-t b-light">
                                                <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>合同号</th>
                                                    <th>医院名称</th>
                                                    <th>合同名称</th>
                                                    <th>产品</th>
                                                    <th>阶段报告</th>
                                                    <th>核算比例(%)</th>
                                                    <th>分配合同额(万)</th>
                                                    <th>本次产值</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="output in vo.outputValueList">
                                                    <td ng-bind="output.pkid"></td>
                                                    <td ng-bind="output.htNo"></td>
                                                    <td ng-bind="output.customerName"></td>
                                                    <td ng-bind="output.htName"></td>
                                                    <td ng-bind="output.proName"></td>
                                                    <td ng-bind="output.docName"></td>
                                                    <td ng-bind="output.output"></td>
                                                    <td ng-bind="output.total"></td>
                                                    <td ng-bind="output.subtotal"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                            </div>
                            <div class="col-sm-5 text-right text-center-xs">
                                <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                            ng-change="ctrl.pageChanged()"
                                            items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                            boundary-links="true" force-ellipses="true"></pagination>
                            </div>
                        </div>
                    </footer>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="glyphicon  glyphicon-plus"></i> 添加产值
                    </tab-heading>


                    <div class="RuleCont">

                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">添加产值</div>
                                <div class="panel-body">
                                    <form class="bs-example form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">是否有合同</label>
                                            <div class="col-sm-9">
                                                <label class="checkbox-inline">
                                                    <input type="radio" name="zxh" value="false" checked ng-click="ctrl.selectByHt(1)"> 无合同
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="radio" name="zxh" value="true" ng-click="ctrl.selectByHt(2)"> 维护产值
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="radio" name="zxh" value="true" ng-click="ctrl.selectByHt(3)"> 添加项目产值
                                                </label>
                                            </div>
                                        </div>





                                        <div ng-show="ctrl.htRadio==1">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品线</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control Rinput60"  ng-model="ctrl.line" ng-options="line.proLine  for line in ctrl.proLineList">
                                                        <option value="">-- 请选择 --</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">部门</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.depName" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">金额</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.total">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">备注</label>
                                                <div class="col-sm-9">
                                                    <textarea type="text" class="form-control Rinput60" cols="60" rows="4"  name="remark" ng-model="ctrl.line.remark"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-sm btn-info" ng-click="ctrl.saveNoHtOutput(ctrl.line)">添加产值</button>
                                                </div>
                                            </div>
                                        </div>





                                        <div ng-show="ctrl.htRadio==2">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">合同号</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="ctrl.htOutput.htNo" ng-blur="ctrl.findHt()">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">合同名</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="ctrl.htOutput.htName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">客户名</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="ctrl.htOutput.customerName" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">合同额</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="ctrl.htOutput.total" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">备注</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control Rinput60" cols="60" rows="4"  name="remark" ng-model="ctrl.htOutput.remark"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-sm btn-info" ng-click="ctrl.saveHtOutput(ctrl.htOutput.remark)">添加产值</button>
                                            </div>
                                        </div>


                                        </div>



                                        <div ng-show="ctrl.htRadio==3">


                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品线</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control Rinput60"  ng-model="ctrl.proLineT" ng-options="line.proLine  for line in ctrl.proLineList">
                                                        <option value="">-- 请选择 --</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">产品名称</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control Rinput60"  ng-model="ctrl.line" ng-options="line.proName  for line in ctrl.proLineT.productList">
                                                        <option value="">-- 请选择 --</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">部门</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.depName" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">合同号</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.htNo">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">合同名</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.htName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">客户名</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.customerName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">阶段报告</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.docName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">核算比例</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.output">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">分配合同额</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.total">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">本次产值</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" ng-model="ctrl.line.subtotal">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">备注</label>
                                                <div class="col-sm-9">
                                                    <textarea type="text" class="form-control Rinput60" cols="60" rows="4"  name="remark" ng-model="ctrl.line.remark"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-lg-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-sm btn-info" ng-click="ctrl.saveProductOutput(ctrl.line)">添加产值</button>
                                                </div>
                                            </div>


                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>



                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light JG">
                                    <thead class="bgJ">
                                    <tr>
                                        <th>部门</th>
                                        <th>产品名</th>
                                        <th>产品线</th>
                                        <th>小计(万)</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="ctrl.isHt==true">
                                    <tr ng-repeat="item in ctrl.htOutputList">
                                        <td ng-bind="item.depName"></td>
                                        <td ng-bind="item.proName"></td>
                                        <td ng-bind="item.proLine"></td>
                                        <td ng-bind="item.total"></td>
                                    </tr>
                                    </tbody>
                                    <tbody ng-show="ctrl.isHt==false">
                                    <tr>
                                        <td ng-bind="ctrl.line.depName"></td>
                                        <td></td>
                                        <td ng-bind="ctrl.line.proLine"></td>
                                        <td ng-bind="ctrl.line.total"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>




                    </div>





                </tab>

            </tabset>





        </div>


    </div>
</div>