<form class="form-horizontal" name="form" novalidate ng-submit="ctrl.applySubmit(form.$valid,form.$invalid)">
<div class="fl RuleTit">
    <div class="fr">
        <input type="submit" class="save fl" ng-show="ctrl.submitApply" value="申请" />
        <input type="button" class="CloseBut fl" ng-click="ctrl.closeAppyVPanel()"/>
    </div>
</div>
<div class="RuleCont">
    <div class="panel-body">
        <div class="form-group RuleInput">
            <label class="RuleName">变更类型：</label>
            <select class="form-control Rinput40" ng-model="ctrl.type" class="form-control" required name="type" ng-change="ctrl.showModule()">
                <option value="">请选择</option>
                <option value="BG">变更</option>
                <option value="ZB">增补</option>
            </select>
            <span class="errorInput"
                  ng-show="form.type.$error.required && ctrl.submitted">
                              该选项框必填
                    </span>
        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">合同名称：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.htName" readonly>

        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">客户名称：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.customerName" readonly >

        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">合同签订时间：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.signDate" readonly>

        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">变更理由：</label>
            <textarea type="text" class="form-control Rinput60" cols="60" rows="4" required name="changeContent"
                      ng-model="ctrl.changeContent"></textarea>
            <span class="errorInput"
                  ng-show="form.changeContent.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
        </div>
        <div class="form-group RuleInput" style="position: relative;" >
            <label class="RuleName">申请人：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.createUser" readonly>

        </div>
        <div class="form-group RuleInput" style="position: relative;" >
            <label class="RuleName">申请人部门：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.applicationDept" readonly >

        </div>
        <div class="form-group RuleInput" style="position: relative;" >
            <label class="RuleName">申请人时间：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.created" readonly >

        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">备注：</label>
            <textarea type="text" class="form-control Rinput60" cols="60" rows="4" readonly name="remark"
                      ng-model="ctrl.remark"></textarea>
        </div>

        <div class="form-group RuleInput" style="position: relative;" ng-show="ctrl.showOldModule">
            <label class="RuleName">老模块：</label>
             <div style="width: 135%">
                 <div class="fisJi">
                    <ul>
                        <li ng-repeat="pro in ctrl.proList">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox"  ng-checked="ctrl.isSelected(pro)" ng-click="ctrl.updateSelection($event,pro)"><i></i>{{pro.proName}}
                            </label>
                        </li>
                    </ul>
                 </div>
                 <div class="fisJi">
                     <ul>

                         <li ng-repeat="oldPMod in ctrl.oldPModuleList">
                             <label class="checkbox-inline i-checks">
                                 <input type="checkbox"  ng-checked="ctrl.isOldSelected(oldPMod)" ng-click="ctrl.updateOldSelection($event,oldPMod)"><i></i>{{oldPMod.modName}}
                             </label>
                         </li>
                     </ul>

                 </div>
                 <div class="fisJi LastBg">
                     <ul>
                         <li ng-repeat="oldMod in ctrl.oldModuleList">{{oldMod}}</li>
                     </ul>

                 </div>

             </div>
        </div>

        <div class="form-group RuleInput" style="position: relative;" ng-show="ctrl.showNewModule">
            <label class="RuleName">修改模块：</label>
            <div style="width: 135%">
                <div class="fisJi">
                    <ul>

                        <li ng-repeat="pro in ctrl.proList">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox"  ng-checked="ctrl.isNewProSelected(pro)" ng-click="ctrl.updateNewProSelection($event,pro)"><i></i>{{pro.proName}}
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="fisJi">
                    <ul>

                        <li ng-repeat="newProMod in ctrl.newPModuleList">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox"  ng-checked="ctrl.isNewSelected(newProMod)" ng-click="ctrl.updateNewSelection($event,newProMod)"><i></i>{{newProMod.modName}}
                            </label>
                        </li>
                    </ul>

                </div>
                <div class="fisJi LastBg">
                    <ul>
                        <li ng-repeat="newMod in ctrl.newModuleList">{{newMod}}</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
</form>