<form class="form-horizontal" name="form" novalidate ng-submit="ctrl.applySubmit(form.$valid,form.$invalid)">
<div class="fl RuleTit">
    <div class="fr">
        <input type="submit" class="save fl" ng-show="ctrl.submitApply" value="申请" />
        <input type="button" class="CloseBut fl" ng-click="ctrl.closeOPVPanel()"/>
    </div>
</div>
<div class="RuleCont">
    <div class="panel-body">
        <div class="form-group RuleInput">
            <label class="RuleName">变更类型：</label>
            <select class="form-control Rinput40" ng-model="ctrl.type" class="form-control" required name="type" ng-change="ctrl.showModule()">
                <option value="">请选择</option>
                <option value="BG">变更</option>
                <option value="ZB">增补</option>
            </select>
            <span class="errorInput"
                  ng-show="form.type.$error.required && ctrl.submitted">
                              该选项框必填
                    </span>
        </div>

        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">合同选择：</label>
            <select class="form-control Rinput40" ng-model="ctrl.ht" ng-options="ht.contractNo  for ht in ctrl.htlist" ng-change="ctrl.showContractNo()" required name="htSelect"></select>
            <span class="errorInput"
                  ng-show="form.htSelect.$error.required && ctrl.submitted">
                              该选项框必填
                    </span>
        </div>
        <div class="form-group RuleInput" style="position: relative;" ng-show="ctrl.showht">
            <label class="RuleName">合同名称：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.htName" readonly>

        </div>
        <div class="form-group RuleInput" style="position: relative;" ng-show="ctrl.showht">
            <label class="RuleName">客户名称：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.customerName" readonly >

        </div>
        <div class="form-group RuleInput" style="position: relative;" ng-show="ctrl.showht">
            <label class="RuleName">合同签订时间：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.signDate" readonly>

        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">变更理由：</label>
            <textarea type="text" class="form-control Rinput60" cols="60" rows="4" required name="changeContent"
                      ng-model="ctrl.changeContent"></textarea>
            <span class="errorInput"
                  ng-show="form.changeContent.$error.required && ctrl.submitted">
                              该选项框必填
                        </span>
        </div>
        <div class="form-group RuleInput" style="position: relative;" >
            <label class="RuleName">申请人：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.createUser" readonly>

        </div>
        <div class="form-group RuleInput" style="position: relative;" >
            <label class="RuleName">申请人部门：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.applicationDept" readonly >

        </div>
        <div class="form-group RuleInput" style="position: relative;" >
            <label class="RuleName">申请人时间：</label>
            <input type="text" class="form-control Rinput60"  ng-model="ctrl.created" readonly >

        </div>
        <div class="form-group RuleInput" style="position: relative;">
            <label class="RuleName">备注：</label>
            <textarea type="text" class="form-control Rinput60" cols="60" rows="4" readonly name="remark"
                      ng-model="ctrl.remark"></textarea>
        </div>
        <div class="form-group RuleInput row-fluid" >
            <div class="col-md-6">
                <button type="button" ng-show="ctrl.showOldModule" ng-click="ctrl.addoldModule()">老模块</button>
            </div>

            <div class="col-md-6" >
                <button type="button" ng-show="ctrl.showNewModule" ng-click="ctrl.addNewModule()">修改模块</button>
            </div>

        </div>
        <div class="form-group RuleInput row-fluid">

            <div class="col-md-6">
                <span style="display:inline-block;width:60%;word-wrap:break-word;white-space:normal;" ng-repeat="oldItem in ctrl.oldModuleList" ng-bind="oldItem"></span><br/>
            </div>

            <div class="col-md-6" >
                <span style="display:inline-block;width:60%;word-wrap:break-word;white-space:normal;" ng-repeat="newItem in ctrl.newModuleList" ng-bind="newItem"></span><br/>
            </div>

        </div>
    </div>
</div>
</form>