<div class="fl RuleTit">
    <i>|</i>
    分解产值 总额{{ctrl.conPrice}}万
    <div class="fr">
        <input type="button" class="save fl" ng-click="ctrl.updateResolveTotal()" value="更新" />
        <input type="button" class="CloseBut fl" ng-click="ctrl.closeOPVPanel()"/>
    </div>
</div>
<div class="RuleCont">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light JG">
                <thead class="bgJ">
                <tr>
                    <th>实施部门</th>
                    <th>产品名</th>
                    <th>标准总价</th>
                    <th>合同占比</th>
                    <th>小计(万)</th>
                    <th>微调小计</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ctrl.HtResolveList" ng-dblclick="ctrl.showModuleList(item,ctrl.conPrice)">
                    <td ng-bind="item.depName"></td>
                    <td ng-bind="item.proName"></td>
                    <td ng-bind="item.price"></td>
                    <td ng-bind="item.outputValue"></td>
                    <td ng-bind="item.subtotal"></td>
                    <td>
                        <div style="width:40px">
                            <input style="width:40px" ng-model="item.total" ng-blur="ctrl.totalChange()"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >总计</td>
                    <td ></td>
                    <td ><span ng-bind="ctrl.priceMTotal"></span></td>
                    <td >
                        <span ng-show="ctrl.bfOutputMessage" style="color: red"  >{{ctrl.bfOutput}}%</span>
                        <span ng-show="!ctrl.bfOutputMessage"  >{{ctrl.bfOutput}}%</span>
                    </td>
                    <td >
                        <span ng-show="ctrl.showZjTotalMessage" style="color: red"  ng-bind="ctrl.zjTotal"></span>
                        <span ng-show="!ctrl.showZjTotalMessage"  ng-bind="ctrl.zjTotal"></span>
                    </td>
                    <td>
                        <span ng-show="ctrl.showTotalMessage" style="color: red" ng-bind="ctrl.sumTotal"></span>
                        <span ng-show="!ctrl.showTotalMessage"  ng-bind="ctrl.sumTotal"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>