<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">岗位列表</h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row NKwrapper Nkinput">
            <div class="fr">
                <div class="col-px-230 fl" style="position: relative;">
                    <input type="text" class="form-control" placeholder="请输入岗位名" ng-model="ctrl.selectName">
                </div>
                <div class="col-px-140 fl" style="position: relative;">
                    <button type="button" class="btn btn-default" ng-click="ctrl.selectByName()">查询</button>
                </div>
                <div class="col-px-180 fl" style="position: relative;">
                    <button type="button" class="btn btn-default btn-info" ng-click="ctrl.showTwfDict('');ctrl.openPanel()">新增岗位</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>岗位名</th>
                    <th>岗位编码</th>
                    <th>是否有效</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="twfDict in ctrl.twfDictList">
                    <td ng-bind="twfDict.name"></td>
                    <td ng-bind="twfDict.code"></td>
                    <td ng-bind="twfDict.isVaild==0?'无效':'有效'"></td>
                    <td>
                        <button style="padding: 1px 6px" class="btn btn-primary" ng-click="ctrl.showTwfDict(twfDict);ctrl.openPanel()">修改</button>
                        <button style="padding: 1px 6px" class="btn btn-danger" ng-click="ctrl.deleteTwfDict(twfDict.pkid)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <pagination total-items="ctrl.totalCount" ng-model="ctrl.pageNo"
                                ng-change="ctrl.pageChanged()"
                                items-per-page="ctrl.pageSize" max-size="ctrl.maxSize" class="pagination-sm"
                                boundary-links="true" force-ellipses="true"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>

<div data-ng-include=" 'src/pc/quarters/twfQuarters.html' " ng-class="ctrl.panelClass"></div>